<link rel="stylesheet" href="../../../styles/layout/contents.css" xmlns="http://www.w3.org/1999/html">
<div class="contents-background contents-center" ng-controller="">
    <table class="table tb-list remove-margin contents-center list-option">
        <tbody>
        <thead>
        <tr class="list-header-option list-option">
            <th class="">
                기본값 명
            </th>

            <th >
                기본값
            </th>
        </tr>
        </thead>
        <tr>
            <th class="list-header-option">PROBE 외부전화 호출 번호</th>
            <td><input type="text" ng-model="search.memberid"></td>
        </tr>
        <tr>
            <th class="list-header-option">PROBE 이름</th>
            <td><input type="text" ng-model="search.start"></td>
        </tr>
        <tbody>
        </tbody>
    </table>

</div>