<link rel="stylesheet" href="../../../styles/layout/contents.css" xmlns="http://www.w3.org/1999/html">
<div class="contents-background contents-center" ng-controller="">
    <table class="table  remove-margin contents-center list-option">
        <tbody>
        <thead>
        <tr class="list-header-option">
            <th>
                기본값 명
            </th>

            <th>
                기본값
            </th>
        </tr>
        </thead>
        <tr>
            <th class="list-header-option">측정 주기(초)</th>
            <td><input type="text"></td>

        </tr>
        <tr>
            <th class="list-header-option">측정 통화시간(초)</th>
            <td><input type="text"></td>

        </tr>
        <tr>

            <th class="list-header-option">측정 횟수(회)</th>
            <td><input type="text"></td>

        </tr>

        <tbody>
        </tbody>
    </table>
</div>