<link rel="stylesheet" href="../../styles/layout/contents.css">
<style>
    .text3{font-size:14px; text-indent:15px; line-height:30px; font-weight:600;}

</style>
<div class="contents-layout" ng-controller="sysRegCtrl">
<div class="title-option">
    　　　이용기관 사용시스템
</div>
<div class="contents-background">
<!-- list ▼ -->
<div style="overflow-y: hidden;">
    <div class="row clearfix list-header-option" style="margin-bottom:1px;">
        <div style="float:left;">
        <span class="text3" ><img src="images/icon/bullet01.png" style="margin-left:15px;">　이용기관 사용시스템</span>
        </div>
        <div class="pull-right" style="float:left;">
            <button type="button" class="btn btn-style" ng-click="exportsProcess()">액셀로 내보내기
            </button>
        </div>
    </div>
    <table ng-table="sysTable" class="table table-bordered">
        <tr ng-repeat="sys in $data" ng-click="selectSys($index); sys.$selected = !sys.$selected;" style="cursor:pointer" class="text-center" ng-class="{'active': sys.$selected}">
            <td data-title="'이용기관 명'" sortable="'org_name'">
                {{sys.org_name}}
            </td>
            <td data-title="'사용시스템 명'" sortable="'sys_name'">
                {{sys.sys_name}}
            </td>
        </tr>
    </table>
    <!-- list ▲ -->
    <div class="row clearfix"><div ng-if="selectedItem!=null" class="h4" style="float: left">선택 사용시스템 명 : {{selectedItem.sys_name}}　</div>
        <div class="pull-right">
            <button type="button" class="btn btn-style" ng-click="deleteSys()">삭제
            </button>
            <button type="button" class="btn btn-style" ng-click="">열람
            </button>
            <button type="button" class="btn btn-style" ng-click="modifySys()">수정
            </button>
            <button type="button" class="btn btn-style" ng-click="clearSys()">신규
            </button>
        </div>
    </div>
</div>

<p></p>


<div class="list-header-option"><span class="text3" ><img src="images/icon/bullet01.png" style="margin-left:15px;">　이용기관 등록</span></div>
<table class="table tb-list remove-margin contents-center">
    <tbody>
    <tr>
        <th class="list-header-option text-center">
            이용 기관 명
        </th>
        <td colspan="3">
            <select class="form-control" ng-model="useSys.org_code" readonly>
                <option ng-repeat="name in org_names" class="center-detail" value="{{name.org_code}}">{{name.org_name}}</option>
            </select>
        </td>
    </tr>
    <tr>
        <th class="list-header-option text-center">
            사용시스템 명
        </th>
        <td colspan="3">
            <input type="text" class="form-control" ng-model="useSys.sys_name">
        </td>
    </tr>
    <tr>
        <th class="list-header-option text-center">
            참고사항
        </th>
        <td colspan="2">
            <wysiwyg textarea-id="question" id="wys" textarea-class="form-control"  textarea-height="80px" textarea-name="textareaQuestion" textarea-required  ng-model="useSys.sys_notice" enable-bootstrap-title="true"></wysiwyg>
        </td>
        <td>
            <button type="button" class="btn btn-style" ng-click="saveSys()">저장
            </button>
        </td>
    </tr>
    </tbody>
</table>



</div>
<!-- contents ▲ -->
</div>
