<link rel="stylesheet" href="../../styles/layout/contents.css">

<div ng-controller="userManageCtrl" class="contents-layout">

    <!-- contents ▼ -->
    <div class="contents-background">
        <!-- search ▼ -->
        <div class="list-header-option"><span class="text3" >　임계치 품질등록</span></div>
        <table class="table tb-list remove-margin contents-center">
            <tbody>
            <tr>
                <th class="list-header-option text-center">
                    임계치 관리항목
                </th>
                <td>
                    <select ng-options="" ng-model="qltClass.qlt_code" class="form-control">
                        <option>임계치 항목코드 | 임계치 항목 명</option>
                        <option value="1">1-01 | 음성품질 R값</option>
                        <option value="2">1-02 | 음성품질 MOS</option>
                        <option value="3">2-01 | 시스템 장애</option>
                        <option value="4">◎ 신규등록</option>
                    </select>
                </td>
                품질 등급
                <th class="list-header-option text-center">
                </th>
                <td>
                    <select ng-options="" ng-model="qltClass.qlt_name"  class="form-control">
                        <option>품질등급 코드 | 품질등급 명</option>
                        <option value="a">1-01 | 음성품질 R값</option>
                        <option value="b">1-02 | 음성품질 MOS</option>
                        <option value="c">2-01 | 시스템 장애</option>
                        <option value="d">◎ 신규등록</option>
                    </select>
                </td>qltClass.qlt_code : {{qltClass.qlt_code}}<br>
                qltClass.qlt_name: {{qltClass.qlt_name}}
            </tr>
            <tr>
                <td colspan="3">
                    　
                </td>
                <td>
                    <input type="button" ng-click="saveQltClass()" class="btn btn-style" value="저장">
                </td>
            </tr>
            </tbody>
        </table>
        <!-- search ▲ -->

        <p></p>
        <!-- list ▼ -->
        <div>
            <div class="row clearfix list-header-option">
                <div style="float:left;">
                <span class="text3" >　임계치 품질등록 현황</span>
                </div>
                <div class="pull-right" style="float:left;">
                    <button type="button" class="btn btn-style" ng-click="">액셀로 내보내기
                    </button>
                </div>
            </div>
            <table class="table tb-list table-hover table-condensed table-bordered list-option text-center">
                <thead>
                <tr>
                    <th class="list-header-option">
                        임계치 관리 항목 ▣
                    </th>
                    <th class="list-header-option">
                        품질 항목 ▣
                    </th>
                </tr>
                </thead>
                <tbody class="text-center list-contents-option">
                <tr>
                    <td>
                        음성품질 R값
                    </td>
                    <td>
                        Fatal
                    </td>
                </tr>
                <tr>
                    <td>
                        음성품질 R값
                    </td>
                    <td>
                        Critical
                    </td>
                </tr>
                <tr>
                    <td>
                        음성품질 R값
                    </td>
                    <td>
                        Major
                    </td>
                </tr>
                <tr>
                    <td>
                        음성품질 R값
                    </td>
                    <td>
                        Minor
                    </td>
                </tr>
                <tr>
                    <td>
                        음성품질 R값
                    </td>
                    <td>
                        Warning
                    </td>
                </tr>
                <tr>
                    <td>
                        음성품질 R값
                    </td>
                    <td>
                        Info
                    </td>
                </tr>
                <tr>
                    <td>
                        음성품질 R값
                    </td>
                    <td>
                        Normal
                    </td>
                </tr>
                <tr>
                    <td>
                        음성품질 MOS
                    </td>
                    <td>
                        Fatal
                    </td>
                </tr>
                <tr>
                    <td>
                        음성품질 MOS
                    </td>
                    <td>
                        Critical
                    </td>
                </tr>
                <tr>
                    <td>
                        음성품질 MOS
                    </td>
                    <td>
                        Major
                    </td>
                </tr>
                <tr>
                    <td>
                        음성품질 MOS
                    </td>
                    <td>
                        Minor
                    </td>
                </tr>
                <tr>
                    <td>
                        음성품질 MOS
                    </td>
                    <td>
                        Warning
                    </td>
                </tr>
                <tr>
                    <td>
                        음성품질 MOS
                    </td>
                    <td>
                        Info
                    </td>
                </tr>
                <tr>
                    <td>
                        음성품질 MOS
                    </td>
                    <td>
                        Normal
                    </td>
                </tr>

                </tbody>

            </table>
            <!-- list ▲ -->
        </div>
        <div class="row clearfix">
            <div class="pull-right">
                <button type="button" class="btn btn-style" ng-click="">삭제
                </button>
                <button type="button" class="btn btn-style" ng-click="">열람
                </button>
            </div>
        </div>
        <!-- list ▲ -->
    </div>

    <!-- contents ▲ -->
</div>