<!--<script src="../../plugin/highcharts.js"></script>-->
<!--<script src="../../plugin/exporting.js"></script>-->

<!--<link rel="stylesheet" href="../../styles/layout/contents.css">-->

<!--<div ng-controller="" class="contents-layout">-->

    <!--&lt;!&ndash; title ▼ &ndash;&gt;-->
    <!--<div class="title-option">-->
        <!--　　　■ 임계치 처리 현황-->
    <!--</div>-->
    <!--&lt;!&ndash; title ▲ &ndash;&gt;-->

    <!--&lt;!&ndash; contents ▼ &ndash;&gt;-->
    <!--<div class="contents-background">-->
        <!--<div class="row clearfix list-header-option">-->
            <!--<span class="text3" >　임계치 처리현황</span>-->

            <!--<div class="pull-right">-->
                <!--<button type="button" class="btn btn-style" ng-click="">액셀로 내보내기-->
                <!--</button>-->
            <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; search ▼ &ndash;&gt;-->
        <!--<iframe src="/views/contents/052-1110-CV_process.list.html" style="width:850px;height:320px;"></iframe>-->
        <!--&lt;!&ndash; search ▲ &ndash;&gt;-->
        <!--<p></p>-->
        <!--&lt;!&ndash; icon info ▼ &ndash;&gt;-->
        <!--<div class="row clearfix list-header-option">-->
            <!--<span class="text3" >　발생항목 코멘트 처리내역</span>-->

            <!--<div class="pull-right">-->
                <!--<button type="button" class="btn btn-style" ng-click="">액셀로 내보내기-->
                <!--</button>-->
            <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; search ▼ &ndash;&gt;-->
        <!--<iframe src="/views/contents/052-1110-CV_processed.list.html" style="width:850px;height:320px;"></iframe>-->
    <!--</div>-->

    <!--&lt;!&ndash; contents ▲ &ndash;&gt;-->
<!--</div>-->

<script src="plugin/highcharts.js"></script>
<script src="plugin/exporting.js"></script>


<link rel="stylesheet" href="styles/layout/contents.css">

<div ng-controller="userManageCtrl" class="contents-layout" ng-init="getProcessList()">

    <!-- title ▼ -->
    <div class="title-option">
        　　　■ 임계치 처리 현황
    </div>
    <!-- title ▲ -->

    <!-- contents ▼ -->
    <div class="contents-background">
        <div class="row clearfix list-header-option">
            <span class="text3">　임계치 처리현황</span>

            <div class="pull-right">
                <button type="button" class="btn btn-style" ng-click="">액셀로 내보내기
                </button>
            </div>
        </div>
        <!-- search ▼ -->
        <!--<iframe src="/views/contents/052-1110-CV_process.list.html" style="width:850px;height:320px;"></iframe>-->
        <!--<div ng-include='"/views/contents/052-1110-CV_process.list.html"' style="width:850px;height:320px;"></div>-->
        <!-- search ▲ -->

        <table class="table table-striped table-bordered" cellspacing="0" width="100%" >

            <thead>
            <tr>
                <th>이용기관 현장 명</th>
                <th>사용 시스템 명</th>
                <th>발생일자</th>
                <th>발생 항목</th>
                <th>품질등급</th>
                <th>액션정보</th>
                <th>코멘트항번</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="processList in processLists">
                <td>{{processList.comLocation}}</td>
                <td>{{processList.systemName}}</td>
                <td>{{processList.occurDate}}</td>
                <td>{{processList.occurName}}</td>
                <td>{{processList.qLevel}}</td>
                <td>{{processList.actionInfo}}</td>
                <th>{{processList.commentSeq}}</th>
            </tr>
            </tbody>
        </table>


        <p></p>
        <!-- icon info ▼ -->
        <div class="row clearfix list-header-option">
            <span class="text3">　발생항목 코멘트 처리내역</span>

            <div class="pull-right">
                <button type="button" class="btn btn-style" ng-click="">액셀로 내보내기
                </button>
            </div>
        </div>
        <!-- search ▼ -->
        <!--<iframe src="/views/contents/052-1110-CV_processed.list.html" style="width:850px;height:320px;"></iframe>-->

        <table class="table table-striped table-bordered"  cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>코멘트내용</th>
                <th>발송내용</th>
                <th>발송수신처</th>
                <th>발송시간</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="actionList in actionLists">
                <td>{{actionList.commentContents}}</td>
                <td>{{actionList.occurName}}:
                    {{actionList.occurValue}},
                    {{actionList.occurCount}}회</td>
                <td>{{actionList.comLocation}}</td>
                <td>{{actionList.sendDate}}</td>


            </tr>

            </tbody>
        </table>



    </div>

    <!-- contents ▲ -->
</div>