<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/plugin/dataTables.bootstrap.css"/>

</head>
<body>
<table id="myTable" class="table table-striped table-bordered"  cellspacing="0" width="100%">
<thead>
<tr>
    <th>이용기관 현장 명</th>
    <th>사용 시스템 명</th>
    <th>발생일자</th>
    <th>발생 항목</th>
    <th>품질등급</th>
    <th>액션정보</th>
</tr>
</thead>
<tbody>
<tr>
    <td>대림산업[수송동]</td>
    <td>음성품질관리시스템</td>
    <td>2014.08.28</td>
    <td>61</td>
    <td>critical</td>
    <td>문자전송</td>
</tr>
<tr>
    <td>대림산업[수송동]</td>
    <td>음성품질관리시스템</td>
    <td>2014.08.17</td>
    <td>63</td>
    <td>fatal</td>
    <td>이메일전송</td>
</tr>
<tr>
    <td>대림산업[수송동]</td>
    <td>음성품질관리시스템</td>
    <td>2014.08.26</td>
    <td>66</td>
    <td>normal</td>
    <td>알람발생</td>
</tr>
<tr>
    <td>대림산업[수송동]</td>
    <td>음성품질관리시스템</td>
    <td>2014.08.31</td>
    <td>22</td>
    <td>warning</td>
    <td>이메일전송</td>
</tr>
<tr>
    <td>대림산업[수송동]</td>
    <td>음성품질관리시스템</td>
    <td>2014.07.06</td>
    <td>33</td>
    <td>fatal</td>
    <td>알람발생</td>
</tr>
<tr>
    <td>대림산업[수송동]</td>
    <td>음성품질관리시스템</td>
    <td>2014.08.28</td>
    <td>61</td>
    <td>critical</td>
    <td>문자전송</td>
</tr>
<tr>
    <td>대림산업[수송동]</td>
    <td>음성품질관리시스템</td>
    <td>2014.08.17</td>
    <td>63</td>
    <td>fatal</td>
    <td>이메일전송</td>
</tr>
<tr>
    <td>대림산업[수송동]</td>
    <td>음성품질관리시스템</td>
    <td>2014.08.26</td>
    <td>66</td>
    <td>normal</td>
    <td>알람발생</td>
</tr>
<tr>
    <td>대림산업[수송동]</td>
    <td>음성품질관리시스템</td>
    <td>2014.08.31</td>
    <td>22</td>
    <td>warning</td>
    <td>이메일전송</td>
</tr>
<tr>
    <td>대림산업[수송동]</td>
    <td>음성품질관리시스템</td>
    <td>2014.03.16</td>
    <td>33</td>
    <td>fatal</td>
    <td>알람발생</td>
</tr>
<tr>
    <td>대림산업[수송동]</td>
    <td>음성품질관리시스템</td>
    <td>2014.08.28</td>
    <td>61</td>
    <td>critical</td>
    <td>문자전송</td>
</tr>
<tr>
    <td>대림산업[수송동]</td>
    <td>음성품질관리시스템</td>
    <td>2014.08.17</td>
    <td>63</td>
    <td>fatal</td>
    <td>이메일전송</td>
</tr>
<tr>
    <td>대림산업[수송동]</td>
    <td>음성품질관리시스템</td>
    <td>2014.08.26</td>
    <td>66</td>
    <td>normal</td>
    <td>알람발생</td>
</tr>
<tr>
    <td>대림산업[수송동]</td>
    <td>음성품질관리시스템</td>
    <td>2014.08.31</td>
    <td>22</td>
    <td>warning</td>
    <td>이메일전송</td>
</tr>
<tr>
    <td>대림산업[수송동]</td>
    <td>음성품질관리시스템</td>
    <td>2014.05.07</td>
    <td>33</td>
    <td>fatal</td>
    <td>알람발생</td>
</tr>
</tbody>
</table>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script src="/plugin/dataTables.bootstrap.js"></script>
<script>
    $(document).ready(function () {
        $('#myTable').dataTable( {
            "lengthMenu": [5],
            "dom": '<"top"fi>rt<"bottom"p><"clear">'
        });
    });
</script>
</body>
</html>