<link rel="stylesheet" href="styles/layout/contents.css">
<link rel="stylesheet" href="styles/autocomplete.css">
<style>
    .text3{font-size:14px; text-indent:15px; line-height:30px; font-weight:600;}

</style>
<div ng-controller="sitemRegCtrl"  style="margin:15px 0 0 0;">

    <div class="contents-background">
        <!-- list ▼ -->
        <div style="overflow-y: hidden;">
            <div class="row clearfix list-header-option">
                <div style="float:left;">
              <span class="text3" ><img src="images/icon/bullet01.png" style="margin-left:15px;">　이용 기관 담당 등록 현황</span>
                </div>
                <div class="pull-right" style="float:left;">
                    <button type="button" class="btn btn-style" ng-click="exportsProcess()">액셀로 내보내기
                    </button>
                </div>
            </div>
            <table ng-table="memTable" class="table table-striped table-bordered">
                <tr ng-repeat="mem in $data" ng-click="selectMem($index);" class="text-center">
                    <td data-title="'이용기관 명'" sortable="'org_name'">
                        {{mem.org_name}}
                    </td>
                    <td data-title="'담당자 명'" sortable="'mem_name'">
                        {{mem.mem_name}}
                    </td>
                    <td data-title="'부서'" sortable="'dep_name'">
                        {{mem.dep_name}}
                    </td>
                    <td data-title="'직책'" sortable="'role_name'">
                        {{mem.role_name}}
                    </td>
                    <td data-title="'사원ID'" sortable="'mem_id'">
                        {{mem.mem_id}}
                    </td>
                </tr>
            </table>
            <!-- list ▲ --><div ng-if="selectedItem!=null" class="h4" style="float: left">선택 담당자 명 : {{selectedItem.mem_name}}　</div>

            <!-- list ▲ -->
            <div class="row clearfix">
                <div class="pull-right">
                    <button type="button" class="btn btn-style" ng-click="deleteMem(selectedItem.mem_code)">삭제
                    </button>
                    <button type="button" class="btn btn-style" ng-click="modifyMem(selectedItem.mem_code)">수정
                    </button>
                    <button type="button" class="btn btn-style" ng-click="clearMem()">신규
                    </button>
                </div>
            </div>
        </div>

        <p></p>


        <div class="list-header-option"><span class="text3" ><img src="images/icon/bullet01.png" style="margin-left:15px;">　이용기관 담당 등록</span></div>
        <table class="table tb-list remove-margin contents-center">
            <tbody>
            <tr>
                <th class="list-header-option text-center">
                    이용 기관 명
                </th>
                <td>
                    <select class="form-control" ng-model="thisMem.org_code" readonly>
                        <option ng-repeat="name in org_names" class="center-detail" value="{{name.org_code}}">{{name.org_name}}</option>
                    </select>
                </td>
                <th class="list-header-option text-center">
                    개인 ID
                </th>
                <td>
                    <input type="text" ng-model="thisMem.mem_id" class="form-control">
                </td>
            </tr>
            <tr>
                <th class="list-header-option text-center">
                    성명
                </th>
                <td>
                    <input type="text" ng-model="thisMem.mem_name" class="form-control">
                </td>
                <th class="list-header-option text-center">
                    비밀 번호
                </th>
                <td>
                    <input type="password" ng-model="thisMem.mem_pswd" class="form-control">
                </td>
            </tr>
            <tr>
                <th class="list-header-option text-center">
                    부서명
                </th>

                <td class="text-left">
                    <div>
                        <autocomplete  ng-model="thisMem.dep_name" data="dep_names" on-type="updateDepName"  click-activation=true></autocomplete>
                    </div>
                </td>
                <th class="list-header-option text-center">
                    직책
                </th>
                <td class="text-left">
                    <div>
                        <autocomplete  ng-model="thisMem.role_name" data="role_names" on-type="updateRoleName"  click-activation=true></autocomplete>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="list-header-option text-center">
                    개인 휴대폰
                </th>
                <td>
                    <input type="text" placeholder="000-0000-0000"  class="form-control" ng-model="thisMem.mem_tel">
                </td>
                <th class="list-header-option text-center">
                    개인 이메일
                </th>
                <td>
                    <input type="text" placeholder="a@b.c"  class="form-control" ng-model="thisMem.mem_email">
                </td>
            </tr>
            <tr>
                <th class="list-header-option text-center">
                    참고사항
                </th>
                <td colspan="3" class="text-left">
                    <wysiwyg textarea-id="question" id="wys" textarea-class="form-control"  textarea-height="80px" textarea-name="textareaQuestion" textarea-required  ng-model="thisMem.mem_notice" enable-bootstrap-title="true"></wysiwyg>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <button type="button" class="btn btn-style pull-right" ng-click="saveMem()">저장
                    </button>
                </td>
            </tr>
            </tbody>
        </table>



    </div>
    <!-- contents ▲ -->
</div>
