<link rel="stylesheet" href="styles/layout/contents.css">

<div class="contents-layout">
<div class="title-option">
    　　　이용기관 사용시스템
</div>
<div class="contents-background">
<!-- list ▼ -->
<div style="overflow-y: hidden;">
    <div class="row clearfix list-header-option">
        <div style="float:left;">
        <span class="text3" >　이용기관 사용시스템</span>
        </div>
        <div class="pull-right" style="float:left;">
            <button type="button" class="btn btn-style" ng-click="">액셀로 내보내기
            </button>
        </div>
    </div>
    <table class="table tb-list table-hover table-condensed table-bordered list-option text-center">
        <thead>
        <tr>
            <th class="list-header-option">
                이용 기관 명 ▣
            </th>
            <th class="list-header-option">
                이용기관 현장 명 ▣
            </th>
            <th class="list-header-option">
                사용시스템 명 ▣
            </th>
        </tr>
        </thead>
        <tbody class="text-center list-contents-option">
        <tr>
            <td>
                대림산업
            </td>
            <td>
                인천 송도 배수장
            </td>
            <td>
                임계치관리 시스템 1
            </td>
        </tr>
        <tr>
            <td>
                대림산업1
            </td>
            <td>
                인천 송도 배수장1
            </td>
            <td>
                임계치관리 시스템 2
            </td>
        </tr>
        <tr>
            <td>
                대림산업2
            </td>
            <td>
                인천 송도 배수장2
            </td>
            <td>
                임계치관리 시스템 3
            </td>
        </tr>
        </tbody>
    </table>
    <!-- list ▲ -->
    <div class="row clearfix">
        <div class="pull-right">
            <button type="button" class="btn btn-style" ng-click="">삭제
            </button>
            <button type="button" class="btn btn-style" ng-click="">열람
            </button>
            <button type="button" class="btn btn-style" ng-click="">수정
            </button>
            <button type="button" class="btn btn-style" ng-click="">신규
            </button>
        </div>
    </div>
</div>

<p></p>


<div class="list-header-option"><span class="text3" >　이용기관 등록</span></div>
<table class="table tb-list remove-margin contents-center">
    <tbody>
    <tr>
        <th class="list-header-option text-center">
            이용 기관 명
        </th>
        <td>
            <select ng-options="" class="form-control">
                <option class="center-detail">이용기관 명 | 이용기관 현장명</option>
                <option value="all">대림산업1 | A현장</option>
                <option value="all">대림산업2 | B현장</option>
                <option value="all">대림산업3 | C현장</option>
                <option value="all">◎ 신규등록</option>
            </select>
        </td>
        <th class="list-header-option text-center">
            이용기관 현장 명
        </th>
        <td>
            [자동생성]
        </td>
    </tr>
    <tr>
        <th class="list-header-option text-center">
            사용시스템 명
        </th>
        <td colspan="3">
            <textarea style="width: 100%"></textarea>
        </td>
    </tr>
    <tr>
        <th class="list-header-option text-center">
            참고사항
        </th>
        <td colspan="2">
            <textarea style="width: 100%"></textarea>
        </td>
        <td>
            <button type="button" class="btn btn-style" ng-click="">저장
            </button>
        </td>
    </tr>
    </tbody>
</table>



</div>
<!-- contents ▲ -->
</div>
