
<p></p>

<div ng-controller="happenCtrl" >
    <div class="row clearfix list-header-option">
        <div>
            <button type="button" class="btn btn-style" ng-click="">전체
            </button>
            <button type="button" class="btn btn-style" ng-click="">연도별
            </button>
            <button type="button" class="btn btn-style" ng-click="">월별
            </button>
            <button type="button" class="btn btn-style" ng-click="">주별
            </button>
            <button type="button" class="btn btn-style" ng-click="">일별
            </button>
        </div>

    </div>
    <highchart id="chart1" config="chartConfig" style="min-width: 240px; height: 400px; margin: 0 auto" ></highchart>