<link rel="stylesheet" href="../../styles/layout/contents.css">

<div ng-controller="processCtrl" class="contents-layout">

    <!-- title ▼ -->
    <div class="title-option">
        　　　임계치 기준 정보 관리
    </div>
    <!-- title ▲ -->
    <div class="contents-background">
        <div class="row clearfix list-header-option">
            <div>
                <div ng-if="processGo=='품질'" style="float: left">
                    <button type="button" class="btn btn-style" ng-click="change('품질')">임계치 품질 등록</button>
                </div>
                <div ng-if="processGo!='품질'" style="float: left">
                    <button type="button" class="btn ccolor" ng-click="change('품질')">임계치 품질 등록</button>
                </div>
                <div ng-if="processGo=='액션'" style="float: left">
                    <button type="button" class="btn btn-style" ng-click="change('액션')">임계치 품질 액션 등록</button>
                </div>
                <div ng-if="processGo!='액션'" style="float: left">
                    <button type="button" class="btn ccolor" ng-click="change('액션')">임계치 품질 액션 등록</button>
                </div>
                <div ng-if="processGo=='기준'" style="float: left">
                    <button type="button" class="btn btn-style" ng-click="change('기준')">임계치 품질 상세 기준 항목</button>
                </div>
                <div ng-if="processGo!='기준'" style="float: left">
                    <button type="button" class="btn ccolor" ng-click="change('기준')">임계치 품질 상세 기준 항목</button>
                </div>
            </div>
        </div>



        <div ng-if="processGo=='품질'">
            <div style="border: 1px groove" ng-include="'views/contents/052-1200-CV_standard_reg.html'"></div>
        </div>
        <div ng-if="processGo=='액션'">
            <div style="border: 1px groove" ng-include="'views/contents/052-1210-CV_action_reg.html'"></div>
        </div>
        <div ng-if="processGo=='기준'">
            <div style="border: 1px groove" ng-include="'views/contents/052-1230-CV_detail_reg.html'"></div>
        </div>



    </div>
    <!-- contents ▲ -->
</div>
