<link rel="stylesheet" href="styles/layout/contents.css">

<div class="contents-layout">

    <div class="contents-background">
        <!-- list ▼ -->
        <div style="overflow-y: hidden;">
            <div class="row clearfix list-header-option">
                <div style="float:left;">
               <span class="text3" >　이용 기관 현황</span>
                </div>
                <div class="pull-right" style="float:left;">
                    <button type="button" class="btn btn-style" ng-click="">액셀로 내보내기
                    </button>
                </div>
            </div>
            <table class="table tb-list table-hover table-condensed table-bordered list-option text-center">
                <thead>
                <tr>
                    <th class="list-header-option">
                        이용 기관 명 ▣
                    </th>
                    <th class="list-header-option">
                        이용 기관 시군구 ▣
                    </th>
                    <th class="list-header-option">
                        이용기관 전화번호 ▣
                    </th>
                </tr>
                </thead>
                <tbody class="text-center list-contents-option">
                <tr>
                    <td>
                        지앤텔
                    </td>
                    <td>
                        서울시 금천구 가산동
                    </td>
                    <td>
                        000-000-0000
                    </td>
                </tr>
                <tr>
                    <td>
                        씨아이원
                    </td>
                    <td>
                        서울시 금천구 가산동
                    </td>
                    <td>
                        000-000-0000
                    </td>
                </tr>
                <tr>
                    <td>
                        지앤텔
                    </td>
                    <td>
                        서울시 금천구 가산동
                    </td>
                    <td>
                        000-000-0000
                    </td>
                </tr>
                <tr>
                    <td>
                        씨아이원
                    </td>
                    <td>
                        서울시 금천구 가산동
                    </td>
                    <td>
                        000-000-0000
                    </td>
                </tr>
                </tbody>

            </table>
            <!-- list ▲ -->
            <div class="row clearfix">
                <div class="pull-right">
                    <button type="button" class="btn btn-style" ng-click="">삭제
                    </button>
                    <button type="button" class="btn btn-style" ng-click="">열람
                    </button>
                    <button type="button" class="btn btn-style" ng-click="">수정
                    </button>
                    <button type="button" class="btn btn-style" ng-click="">신규
                    </button>
                </div>
            </div>
        </div>

<p></p>


        <div class="list-header-option"><span class="text3" >　이용기관 등록</span></div>
        <table class="table tb-list remove-margin contents-center">
            <tbody>
            <tr>
                <th class="list-header-option text-center">
                    이용기관 명
                </th>
                <td>
                    <select ng-options="" class="form-control" style="width: 200px">
                        <option>이용기관 코드 | 이용기관 명</option>
                        <option value="all">1-01 | 지앤텔</option>
                        <option value="all">1-02 | 씨아이원</option>
                        <option value="all">2-01 | 대림산업</option>
                        <option value="all">◎ 신규등록</option>
                    </select>
                </td>
                <th class="list-header-option text-center">
                    이용기관 코드
                </th>
                <td>
                    [자동생성]
                </td>
            </tr>
            <tr>
                <th class="list-header-option text-center">
                    회사 대표연락처
                </th>
                <td>
                    <input type="text" placeholder="000-0000-0000">
                </td>
                <th class="list-header-option text-center">
                    회사 FAX
                </th>
                <td>
                    <input type="text" placeholder="000-0000-0000">
                </td>
            </tr>
            <tr>
                <th class="list-header-option text-center">
                    이용기관 시군구
                </th>
                <td>
                    <input type="text">
                </td>
                <th class="list-header-option text-center">
                    상세주소
                </th>
                <td>
                    <input type="text" style="width: 250px">
                </td>
            </tr>
            <tr>
                <th class="list-header-option text-center">
                    메세지 내용 작성
                </th>
                <td colspan="2">
                    <textarea style="width: 100%"></textarea>
                </td>
                <td>
                    <button type="button" class="btn btn-style" ng-click="">저장
                    </button>
                </td>
            </tr>
            </tbody>
        </table>



    </div>
    <!-- contents ▲ -->
</div>
