<link rel="stylesheet" href="../../styles/layout/contents.css">

    <!-- title ▼ -->
    <div class="title-option">
        　　　■ 임계치 발생 현황
    </div>
    <!-- title ▲ -->

    <!-- contents ▼ -->
    <div class="contents-background">
        <div class="row clearfix list-header-option">
            <span class="text3" >　임계치 발생현황[리스트]</span>

            <div class="pull-right">
                <button type="button" class="btn btn-style" ng-click="">액셀로 내보내기
                </button>
            </div>
        </div>
        <!-- search ▼ -->
        <div ng-include="'/views/contents/052-1020-CV_happen.list.html'"></div>
        <!-- search ▲ -->
        <p></p>

        <!-- icon info ▼ -->
        <div class="row clearfix">
            <div class="row clearfix list-header-option">
                <span class="text3" >　임계치 발생현황[차트]</span>

                <div class="pull-right">
                    <button type="button" class="btn btn-style" ng-click="">액셀로 내보내기
                    </button>
                </div>
            </div>

            <!--<iframe src="/views/contents/052-1010-CV_happen.chart.html" style="width:850px;height:480px;"></iframe>-->
            <ng-include src="'/views/contents/052-1010-CV_happen.chart.html'"></ng-include>
        </div>
        <!-- icon info ▲ -->

        <!-- list ▼ -->

        <!-- list ▲ -->
    </div>

    <!-- contents ▲ -->
