
<link rel="stylesheet" href="../../styles/layout/contents.css">
<style>
   .text3{font-size:14px; text-indent:15px; line-height:30px; font-weight:600;}

    </style>
<div class="contents-layout">

    <!-- title ▼ -->
    <div class="title-option">
        　　　■ 임계치 처리 현황
    </div>
    <!-- title ▲ -->

    <!-- contents ▼ -->
    <div class="contents-background">
        <div class="row clearfix list-header-option">
            <span class="text3">　임계치 처리 현황</span>

            <div class="pull-right">
                <button type="button" class="btn btn-style" ng-click="">액셀로 내보내기
                </button>
            </div>
        </div>
        <!-- search ▼ -->
        <div ng-include='"/views/contents/052-1110-CV_process.list.html"'></div>
        <!-- search ▲ -->


        <p></p>
        <!-- icon info ▼ -->
        <div class="row clearfix list-header-option">
            <span class="text3">　발생항목 코멘트 처리내역</span>

            <div class="pull-right">
                <button type="button" class="btn btn-style" ng-click="">액셀로 내보내기
                </button>
            </div>
        </div>
        <!-- search ▼ -->
        <div ng-include='"/views/contents/052-1110-CV_processed.list.html"'></div>

    </div>
    <!-- contents ▲ -->
</div>