<link rel="stylesheet" href="../../styles/layout/contents.css">
<link rel="stylesheet" href="../../styles/autocomplete.css">

<div class="contents-layout" ng-controller="compRegCtrl">

    <div class="contents-background">
        <!-- list ▼ -->
        <div style="overflow-y: hidden;">
            <div class="row clearfix list-header-option">
                <div style="float:left;">
                    <span class="text3">　이용 기관 현황    {{test.text}}</span>
                </div>
                <div class="pull-right" style="float:left;">
                    <button type="button" class="btn btn-style" ng-click="">액셀로 내보내기
                    </button>
                </div>
            </div>
            <table ng-table="compTable" class="table table-bordered">
                <tr ng-repeat="comp in $data" ng-click="selectComp($index); comp.$selected = !comp.$selected;" style="cursor:pointer" class="text-center" ng-class="{'active': comp.$selected}">
                    <td data-title="'이용기관 명'" sortable="'org_name'">
                        {{comp.org_name}}
                    </td>
                    <td data-title="'이용 기관 시군구'" sortable="'city_name'">
                        {{comp.city_name}}
                    </td>
                    <td data-title="'이용기관 전화번호'" sortable="'org_tel'">
                        {{comp.org_tel}}
                    </td>
                </tr>
            </table>
            <!-- list ▲ --><div ng-if="selectedItem!=null" class="h4" style="float: left">선택 이용기관 명 : {{selectedItem.org_name}}　</div>
            <div class="row clearfix">
                <div class="pull-right">

                    <button type="button" class="btn btn-style" ng-click="deleteComp(selectedItem.org_code)" ng-confirm-click="정말 삭제하시겠습니까?">삭제
                    </button>
                    <button type="button" class="btn btn-style" ng-click="viewComp(selectedItem.org_code)">열람
                    </button>
                    <button type="button" class="btn btn-style" ng-click="modifyComp()">수정
                    </button>
                    <button type="button" class="btn btn-style" ng-click="clearComp()">신규
                    </button>
                </div>
            </div>
        </div>

        <p></p>


        <div class="list-header-option"><span class="text3">　이용기관 등록</span></div>
        <table class="table tb-list remove-margin contents-center">
            <tbody>
            <tr>
                <th class="list-header-option text-center">
                    이용기관 명
                </th>
                <td>
                    <autocomplete  ng-model="useComp.org_name" data="org_names"
                                   on-type="updateOrgName" click-activation =true></autocomplete>
                </td>
                <th class="list-header-option text-center">
                    이용기관 코드
                </th>
                <td ng-if="useComp.org_code!=null">
                    {{useComp.org_code}}
                </td>
                <td ng-if="useComp.org_code==null">
                    [자동생성]
                </td>
            </tr>
            <tr>
                <th class="list-header-option text-center">
                    회사 대표연락처
                </th>
                <td>
                    <input type="text" placeholder="000-0000-0000" ng-model="useComp.org_tel">
                </td>
                <th class="list-header-option text-center">
                    회사 FAX
                </th>
                <td>
                    <input type="text" placeholder="000-0000-0000" ng-model="useComp.org_fax">
                </td>
            </tr>
            <tr>
                <th class="list-header-option text-center">
                    이용기관 시군구
                </th>
                <td>
                    <input type="text" ng-model="useComp.city_name">
                </td>
                <th class="list-header-option text-center">
                    상세주소
                </th>
                <td>
                    <input type="text" style="width: 250px" ng-model="useComp.addr_code">
                </td>
            </tr>
            <tr>
                <th class="list-header-option text-center">
                    메세지 내용 작성
                </th>
                <td colspan="3">
                    <wysiwyg textarea-id="question" id="wys" textarea-class="form-control"  textarea-height="80px" textarea-name="textareaQuestion" textarea-required  ng-model="useComp.notice" enable-bootstrap-title="true"></wysiwyg>
                </td>
            </tr>
            <tr>
                <th class="list-header-option text-center"></th>
                <td colspan="3"><button type="button" class="btn btn-style" ng-click="saveComp()">저장
                </button></td>
            </tr>
            </tbody>
        </table>


    </div>
    <!-- contents ▲ -->
</div>
