<link rel="stylesheet" href="../../styles/layout/contents.css">

<div class="" ng-controller="process">
    <div class="row clearfix list-header-option">
        <span class="text3">　<img src="images/icon/bullet01.png"> 임계치 처리 현황</span>

        <div class="pull-right">
            <button type="button" class="btn btn-style" ng-click="exportsProcess()">액셀로 내보내기
            </button>
        </div>
    </div>
    <table ng-table="processTable" class="table table-striped table-bordered">

        <tr ng-repeat="item in $data" style="cursor:pointer" class="text-center">
            <td data-title="'기관명'" sortable="'org_code'">
                {{item.comLocation}}
            </td>
            <td data-title="'시스템명'" sortable="'system_code'">
                {{item.systemName}}
            </td>
            <td data-title="'발생일'" sortable="'source'">
                {{item.occurDate}}
            </td>
            <td data-title="'기준항목'" sortable="'target'">
                {{item.occurName}}
            </td>
            <td data-title="'값'" sortable="'kind'">
                {{item.qLevel}}
            </td>

            <td data-title="'액션'" sortable="'qlt_code'">
                {{item.actionInfo}}
            </td>
            <td data-title="'횟수'" sortable="'ocr_date'">
                {{item.commentSeq}}
            </td>
        </tr>
    </table>

</div>