<link rel="stylesheet" href="styles/layout/contents.css">

<div class="contents-layout" ng-controller="userAccessCtrl">
    <!-- title ▼ -->
    <div class="title-option">
        　　　이용자 접속 현황
    </div>
    <!-- title ▲ -->

    <!-- contents ▼ -->
    <div class="contents-background contents-center" ng-controller="userAccessListCtrl">

        <!-- search ▼ -->
        <div>
            <table class="table tb-list remove-margin contents-center">
                <tbody>
                <tr>
                    <th class="list-header-option text-center" style="padding:15px 0">이용자명</th>
                    <td><input type="text" ng-model="search.dutyname" class="form-control"></td>
                    <th class="list-header-option text-center" style="padding:15px 0">이용자ID</th>
                    <td><input type="text" ng-model="search.memberid" class="form-control"></td>
                    <td rowspan="2" class="list-header-option text-center">
                        <button class="btn btn-style" style="margin-top:25px" ng-click="trySearch()">검색</button>
                    </td>
                </tr>
                <tr>
                    <th class="list-header-option text-center" style="padding:15px 0">시작기간</th>
                    <td>
                        <div class="input-group input-group-sm input-group-search" searchType="joindate">

                            <!-- calendar popup -->
                            <div ng-if="showCal1" ng-include="'views/partials/sidebar/calendar.html'"
                                 style="position: absolute; top: 24px; left: 100px; z-index: 10;"></div>

                            <!-- search input -->
                            <input type="text" class="form-control" ng-model="search.start">

                            <!-- button -->
                        <span class="input-group-btn">
                            <button class="btn btn-default input-group-btn-custom"
                                    type="button" ng-click="showCal1 = !showCal1;" btnType="glyphicon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </button>
                            <button class="btn btn-default input-group-btn-custom" type="button" ng-click="trySearch()"
                                    btnType="glyphicon">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        </div>
                    </td>
                    <th class="list-header-option text-center" style="padding:15px 0">종료기간</th>
                    <td>
                        <div class="input-group input-group-sm input-group-search" searchType="joindate">

                            <!-- calendar popup -->
                            <div ng-if="showCal2" ng-include="'views/partials/sidebar/calendar.html'"
                                 style="position: absolute; top: 24px; left: 100px; z-index: 10;"></div>

                            <!-- search input -->
                            <input type="text" class="form-control" ng-model="search.end">

                            <!-- button -->
                        <span class="input-group-btn">
                            <button class="btn btn-default input-group-btn-custom"
                                    type="button" ng-click="showCal2 = !showCal2;" btnType="glyphicon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </button>
                            <button class="btn btn-default input-group-btn-custom" type="button" ng-click="trySearch()"
                                    btnType="glyphicon">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        </div>
                    </td>
                </tr>

                <tbody>

                </tbody>
            </table>

        </div>
        <!-- search ▲ -->

        <!-- list ▼ -->
        <div style="margin-top:15px;">
            <table class="table tb-list table-bordered list-option">
                <thead>
                <tr class="list-header-option">
                    <th>
                        <a href="" ng-click="toggleOrder('name')">
                            이용자명 {{orderbyDesc['dutyname']?'▼':'▲'}}
                        </a>
                    </th>
                    <th>
                        <a href="" ng-click="toggleOrder('id')">
                            회원ID {{orderbyDesc['memberid']?'▼':'▲'}}
                        </a>
                    </th>
                    <th>
                        기간
                    </th>
                    <th>
                        연락처
                    </th>
                    <th>
                        <a href="" ng-click="toggleOrder('count')">
                            접속수 {{orderbyDesc['logincnt']?'▼':'▲'}}
                        </a>
                    </th>
                    <th>
                        최근접속일
                    </th>
                    <th>
                        등록일
                    </th>
                </tr>
                </thead>
                <tbody class="text-center list-contents-option">
                <tr ng-repeat="item in filterItems= (items | orderBy:ordering())"
                    ng-if="currentPage*itemsPerPage <= $index && $index < (currentPage+1)*itemsPerPage">
                    <td>{{item['dutyname']}}</td>
                    <td>{{item['memberid']}}</td>
                    <td>{{item['useperiod']}}</td>
                    <td>{{item['comtel']}}</td>
                    <td>{{item['logincnt']}}회</td>
                    <td>{{item['logindate']}}</td>
                    <td>{{item['joindate']}}</td>
                </tr>
                </tbody>
            </table>

            <ul class="list-unstyled list-inline pagenation-height text-center list-page">
                <li>
                    <!-- ng-class="{disabled: currentPage < 10}" -->
                    <a href="" ng-click="prev10Page()">
                        <span class="glyphicon glyphicon-backward"></span>
                    </a>
                </li>
                <li ng-class="{disabled: currentPage == 0}">
                    <a href="" ng-click="prevPage()">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </li>
                <li ng-repeat="n in range(currentPage-2, currentPage+3)"
                    ng-class="{active: n == currentPage}"
                    ng-click="setPage()">
                    <a href="" ng-bind="n + 1"></a>
                </li>
                <li ng-class="{disabled: (getPageMax() == 0 || currentPage == getPageMax() - 1)}">
                    <a href="" ng-click="nextPage()">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </li>
                <li>
                    <!-- ng-class="{disabled: (getPageMax() == 0 || currentPage > getPageMax() - 11)}" -->
                    <a href="" ng-click="next10Page()">
                        <span class="glyphicon glyphicon-forward"></span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- list ▲ -->

    </div>
    <!-- contents ▲ -->
</div>