<link rel="stylesheet" href="../../../styles/layout/contents.css" xmlns="http://www.w3.org/1999/html">

<div class="contents-layout" ng-controller="">
<!-- title ▼ -->
<div class="title-option">
    　　　PROBE 품질정책현황
</div>
<!-- title ▲ -->

<!-- contents ▼ -->
<div class="contents-background contents-center" ng-controller="">

    <!-- search ▼ -->
    <div>
        <table class="table tb-list remove-margin contents-center">
            <tbody>
            <tr>
                <th class="list-header-option">정책 ID</th>
                <td><input type="text" ng-model="search.dutyname"></td>
                <th class="list-header-option">사용 유무</th>
                <td>
                    <select ng-model="inputData['useyn']">
                        <option value="Y">사용함</option>
                        <option value="N">사용안함</option>
                    </select>
                </td>
                <td rowspan="2" class="list-header-option">
                    <button class="btn btn-style" style="margin-top:10px" ng-click="trySearch()">검색</button>
                </td>
            </tr>
            <tr>
                <th class="list-header-option">시작일</th>
                <td>
                    <div class="input-group input-group-sm input-group-search" searchType="joindate">

                        <!-- calendar popup -->
                        <div ng-if="showCal" ng-include="'views/partials/sidebar/calendar.html'"
                             style="position: absolute; top: 24px; left: 100px;"></div>

                        <!-- search input -->
                        <input type="text" class="form-control" ng-model="search.joindate">

                        <!-- button -->
                       <span class="input-group-btn">
                            <button class="btn btn-default input-group-btn-custom"
                                    type="button" ng-click="showCal = !showCal;" btnType="glyphicon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </button>
                        </span>
                    </div>
                </td>
                <th class="list-header-option">종료일</th>
                <td>
                    <div class="input-group input-group-sm input-group-search" searchType="joindate">

                        <!-- calendar popup -->
                        <div ng-if="showCal" ng-include="'views/partials/sidebar/calendar.html'"
                             style="position: absolute; top: 24px; left: 100px;"></div>

                        <!-- search input -->
                        <input type="text" class="form-control" ng-model="search.joindate">

                        <!-- button -->
                       <span class="input-group-btn">
                            <button class="btn btn-default input-group-btn-custom"
                                    type="button" ng-click="showCal = !showCal;" btnType="glyphicon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </button>
                        </span>
                    </div>
                </td>
            </tr>

            <tbody>

            </tbody>
        </table>
        <div class="row" style="margin-top:15px">
            <ul class="list-unstyled list-inline">
                <li class="pull-right" ng-init="state='Y'; add=false;">

                </li>
            </ul>
        </div>
    </div>
    <!-- search ▲ -->

    <!-- list ▼ -->
    <div style="margin-top:15px;">
        <table class="table tb-list table-bordered list-option">
            <thead>
            <tr class="list-header-option">
                <th>
                    <!-- <a href="" ng-click="toggleOrder('name')">
                         선택 {{orderbyDesc['dutyname']?'▼':'▲'}}
                     </a>-->
                    전체선택<br>
                    <input type="checkbox">
                </th>
                <th>
                    <!-- <a href="" ng-click="toggleOrder('id')">
                            정책ID {{orderbyDesc['memberid']?'▼':'▲'}}
                        </a>-->
                    정책 ID
                </th>
                <th>
                    시작일-종요일<BR>
                    (제외 요일)
                </th>
                <th>
                    시작시간<BR>
                    (제외 시작시간)
                </th>
                <th>
                    종료시간
                    (제외 종료시간)
                </th>
                <th>
                    측정주기(초)
                </th>
                <th>
                    측정 횟수
                </th>
                <th>
                    측정 통화시간(초)
                </th>
                <th>
                    정책 동작상태
                </th>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>10002</td>
                <td>2013.08.09~</td>
                <td>00:10</td>
                <td>23:59</td>
                <td>3600</td>
                <td>1</td>
                <td>30</td>
                <td><img src="images/icon/probe_04.png" style="width:25px" alt="best"/></td>
            </tr>
            </thead>
            <tbody class="text-center list-contents-option">
            <tr ng-repeat="item in filterItems= (items | orderBy:ordering())"
                ng-if="currentPage*itemsPerPage <= $index && $index < (currentPage+1)*itemsPerPage">
                <td>{{item['dutyname']}}</td>
                <td>{{item['memberid']}}</td>
                <td>{{item['useperiod']}}</td>
                <td>{{item['comtel']}}</td>
                <td>{{item['logincnt']}}회</td>
                <td>{{item['logindate']}}</td>
                <td>{{item['joindate']}}</td>
            </tr>
            </tbody>
        </table>

        <ul class="list-unstyled list-inline pagenation-height text-center list-page">
            <li>
                <!-- ng-class="{disabled: currentPage < 10}" -->
                <a href="" ng-click="prev10Page()">
                    <span class="glyphicon glyphicon-backward"></span>
                </a>
            </li>
            <li ng-class="{disabled: currentPage == 0}">
                <a href="" ng-click="prevPage()">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </li>
            <li ng-repeat="n in range(currentPage-2, currentPage+3)"
                ng-class="{active: n == currentPage}"
                ng-click="setPage()">
                <a href="" ng-bind="n + 1"></a>
            </li>
            <li ng-class="{disabled: (getPageMax() == 0 || currentPage == getPageMax() - 1)}">
                <a href="" ng-click="nextPage()">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </li>
            <li>
                <!-- ng-class="{disabled: (getPageMax() == 0 || currentPage > getPageMax() - 11)}" -->
                <a href="" ng-click="next10Page()">
                    <span class="glyphicon glyphicon-forward"></span>
                </a>
            </li>
        </ul>
    </div>
    <div class="row">
        <ul class="list-unstyled list-inline">
            <li class="pull-right" ng-init="state='Y'; add=false;">
                <button class="btn btn-style" ng-if="tabPage != '전체'" ng-click="action()">{{tabPage=='Y'?
                    '사용안함':'사용함'}}
                </button>
                <button class="btn btn-style" ng-click="tryAdd();">사용 안함</button>
                <button class="btn btn-style" ng-click="tryAdd();">추가</button>
            </li>
        </ul>
    </div>
    <!-- list ▲ -->
</div>



<!-- title ▼ -->
<div class="title-option">
    　　　PROBE 품질정책현황 추가
</div>
<!-- title ▲ -->
<!-- contents ▼ -->
<div class="contents-background contents-center" ng-controller="">
    <!-- search ▼ -->
    <div>
        <table class="table tb-list remove-margin contents-center table-left">
            <tbody>
            <tr>
                <th class="list-header-option">정책 ID</th>
                <td>자동으로 생성됩니다.</td>
                <th class="list-header-option">정책 유형</th>
                <td>
                    주기적 측정
                </td>

            </tr>
            <tr>
                <th class="list-header-option">시작일</th>
                <td>
                    <div class="input-group input-group-sm input-group-search" style="margin:0 !important;" searchType="joindate">

                        <!-- calendar popup -->
                        <div ng-if="showCal" ng-include="'views/partials/sidebar/calendar.html'"
                             style="position: absolute; top: 24px; left: 100px;"></div>

                        <!-- search input -->
                        <input type="text" class="form-control" ng-model="search.joindate">

                        <!-- button -->
                        <span class="input-group-btn">
                            <button class="btn btn-default input-group-btn-custom"
                                    type="button" ng-click="showCal = !showCal;" btnType="glyphicon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </button>
                        </span>
                    </div>
                </td>
                <th class="list-header-option">종료일</th>
                <td>
                    <div class="input-group input-group-sm input-group-search" style="margin:0 !important;" searchType="joindate">
                        <!-- calendar popup -->
                        <div ng-if="showCal" ng-include="'views/partials/sidebar/calendar.html'"
                             style="position: absolute; top: 24px; left: 100px;"></div>

                        <!-- search input -->
                        <input type="text" class="form-control" ng-model="search.joindate">

                        <!-- button -->
                        <span class="input-group-btn">
                            <button class="btn btn-default input-group-btn-custom"
                                    type="button" ng-click="showCal = !showCal;" btnType="glyphicon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </button>
                        </span>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="list-header-option">시작시간</th>
                <td><input type="time"></td>
                <th class="list-header-option">종료시간</th>
                <td><input type="time"></td>
            </tr>
            <tr>
                <th class="list-header-option">제외 시작시간</th>
                <td>
                    <input type="time">
                </td>
                <th class="list-header-option">제외 종료시간</th>
                <td>
                    <input type="time">
                </td>

            </tr>
            <tr>
                <th class="list-header-option ">제외 요일</th>
                <td colspan="3" style="text-align:left">
                    월 <input type="checkbox">
                    화 <input type="checkbox">
                    수 <input type="checkbox">
                    목 <input type="checkbox">
                    금 <input type="checkbox">
                    토 <input type="checkbox">
                    일 <input type="checkbox">
                </td>
                </td>
            </tr>
            <tr>
                <th class="list-header-option">측정 주기</th>
                <td colspan="3" style="text-align:left">
                    <input type="text">
                </td>
            </tr>
            <tr>
                <th class="list-header-option">측정 횟수</th>
                <td colspan="3" style="text-align:left">
                    1회
                </td>
            </tr>
            <tr>
                <th class="list-header-option">사용 유무</th>
                <td colspan="3" style="text-align:left">
                    <select>
                        <option value="" selected>사용함</option>
                        <option value="">사용 안함</option>
                        </select>
                </td>
            </tr>
            <tr>
                <td colspan="4" style="text-align:right">기본 설정<a href="#/probe/setting" target="_blank">기본값</a></td>
            </tr>
            </tbody>
        </table>
    </div>
