<link rel="stylesheet" href="styles/layout/login.css">

<div class="login center-block">
    <div>
        <div class="row login-header">
            <div class="pull-left">
                <img src="images/logo/gnt-logo.png">
            </div>
            <div class="pull-right">
                <h2>임계치관리시스템</h2>
            </div>
        </div>

        <div class="login-input">

            <div class="input-area">
                <div class="page-header pull-left">
                    <h3>로그인
                        <small>LOG-IN</small>
                    </h3>
                </div>
                <input type="text" class="form-control" ng-model="input.login.id" placeholder="이용자 ID">
                <input type="password" class="form-control" ng-model="input.login.pw" placeholder="이용자 Password">

                <p><a class="btn btn-lg btn-success form-control" ng-click="tryLogin()">Login</a></p>
                <ul class="list-inline list-unstyled">
                    <li>   <a href="" onclick="window.open('/views/contents/052_S_1100_user.add.html', 'openRequest', 'width=500, height=800, toolbar=no, menubar=no, scrollbars=no, resizable=yes')"><img src="images/icon/choice-bullet.png"> ID 등록신청</a></li>
                    <li>  <a href="" ng-href=""><img src="images/icon/choice-bullet.png"> 이용자 ID 찾기</a></li>
                    <li>  <a href="" ng-href=""><img src="images/icon/choice-bullet.png"> 이용자 PWD 찾기</a></li>
                </ul>
            </div>
        </div>
        <div class="login-footer">

        </div>
    </div>
</div>
