<link rel="stylesheet" href="styles/layout/contents.css" xmlns="http://www.w3.org/1999/html">

<div class="contents-layout" ng-controller="">
    <!-- title ▼ -->
    <div class="title-option">
        　　　품질정책 이력
    </div>
    <!-- title ▲ -->

    <!-- contents ▼ -->
    <div class="contents-background contents-center" ng-controller="">

        <!-- search ▼ -->
        <div>
            <table class="table tb-list remove-margin contents-center">
                <tbody>
                <tr>
                    <th class="list-header-option"> ▶ 정책 ID</th>
                    <td><input type="text" ng-model="search.memberid" style="width: 100%;"></td>

                    <th class="list-header-option"> ▶ 작업 내역</th>
                    <td><input type="text" ng-model="search.start" style="width: 100%;"></td>
                    <th class="list-header-option"> ▶ 작업자 ID</th>
                    <td><input type="text" ng-model="search.start" style="width: 100%;"></td>
                    <td class="list-header-option">
                        <button class="btn btn-option">검색</button>
                    </td>
                </tr>

                <tbody>

                </tbody>
            </table>
            <br>
            <button class="btn btn-st1 pull-right">엑셀변환</button>
            <br>
            <br>
        </div>
        <!-- search ▲ -->

        <!-- list ▼ -->
        <div style="overflow: auto;">
        <div style="margin-top:15px; z-index: 1025; width: 1500px;">
            <table class="table tb-list table-bordered list-option">
                <thead>
                <tr class="list-header-option">
                    <th>
                        작업 내역
                    </th>
                    <th>
                        정책코드(ID)
                    </th>
                    <th>
                        정책시작일시
                    </th>
                    <th>
                        정책종료일시
                    </th>
                    <th>
                        측정통화시간
                    </th>
                    <th>
                        측정주기
                    </th>

                    <th>
                        측정횟수
                    </th>

                    <th>
                        수신자메일
                    </th>

                    <th>
                        로그 적재자 ID
                    </th>

                    <th>
                        로그 적재일
                    </th>


                </tr>
                </thead>
                <tbody class="text-center list-contents-option">
                <tr>
                    <td>수정[UPDATE]</td>
                    <td>10003</td>
                    <td>20130809 00:20</td>
                    <td>23:59</td>
                    <td>30</td>
                    <td>3600</td>
                    <td>1</td>
                    <td>finaldy81@gmail.com</td>
                    <td>admin</td>
                    <td>2014-08-26 10:56:14</td>

                </tr>
                <tr>
                    <td>수정[UPDATE]</td>
                    <td>10003</td>
                    <td>20130809 00:20</td>
                    <td>23:59</td>
                    <td>30</td>
                    <td>3600</td>
                    <td>1</td>
                    <td>finaldy81@gmail.com</td>
                    <td>admin</td>
                    <td>2014-08-26 10:56:14</td>

                </tr>
                <tr>
                    <td>수정[UPDATE]</td>
                    <td>10003</td>
                    <td>20130809 00:20</td>
                    <td>23:59</td>
                    <td>30</td>
                    <td>3600</td>
                    <td>1</td>
                    <td>finaldy81@gmail.com</td>
                    <td>admin</td>
                    <td>2014-08-26 10:56:14</td>

                </tr>
                <tr>
                    <td>수정[UPDATE]</td>
                    <td>10003</td>
                    <td>20130809 00:20</td>
                    <td>23:59</td>
                    <td>30</td>
                    <td>3600</td>
                    <td>1</td>
                    <td>finaldy81@gmail.com</td>
                    <td>admin</td>
                    <td>2014-08-26 10:56:14</td>

                </tr>
                <tr>
                    <td>수정[UPDATE]</td>
                    <td>10003</td>
                    <td>20130809 00:20</td>
                    <td>23:59</td>
                    <td>30</td>
                    <td>3600</td>
                    <td>1</td>
                    <td>finaldy81@gmail.com</td>
                    <td>admin</td>
                    <td>2014-08-26 10:56:14</td>

                </tr>
                <tr>
                    <td>수정[UPDATE]</td>
                    <td>10003</td>
                    <td>20130809 00:20</td>
                    <td>23:59</td>
                    <td>30</td>
                    <td>3600</td>
                    <td>1</td>
                    <td>finaldy81@gmail.com</td>
                    <td>admin</td>
                    <td>2014-08-26 10:56:14</td>
                </tr>
                <tr>
                    <td>수정[UPDATE]</td>
                    <td>10003</td>
                    <td>20130809 00:20</td>
                    <td>23:59</td>
                    <td>30</td>
                    <td>3600</td>
                    <td>1</td>
                    <td>finaldy81@gmail.com</td>
                    <td>admin</td>
                    <td>2014-08-26 10:56:14</td>

                </tr>
                <tr>
                    <td>수정[UPDATE]</td>
                    <td>10003</td>
                    <td>20130809 00:20</td>
                    <td>23:59</td>
                    <td>30</td>
                    <td>3600</td>
                    <td>1</td>
                    <td>finaldy81@gmail.com</td>
                    <td>admin</td>
                    <td>2014-08-26 10:56:14</td>

                </tr>
                <tr>
                    <td>수정[UPDATE]</td>
                    <td>10003</td>
                    <td>20130809 00:20</td>
                    <td>23:59</td>
                    <td>30</td>
                    <td>3600</td>
                    <td>1</td>
                    <td>finaldy81@gmail.com</td>
                    <td>admin</td>
                    <td>2014-08-26 10:56:14</td>

                </tr>
                <tr>
                    <td>수정[UPDATE]</td>
                    <td>10003</td>
                    <td>20130809 00:20</td>
                    <td>23:59</td>
                    <td>30</td>
                    <td>3600</td>
                    <td>1</td>
                    <td>finaldy81@gmail.com</td>
                    <td>admin</td>
                    <td>2014-08-26 10:56:14</td>

                </tr>
                <tr>
                    <td>수정[UPDATE]</td>
                    <td>10003</td>
                    <td>20130809 00:20</td>
                    <td>23:59</td>
                    <td>30</td>
                    <td>3600</td>
                    <td>1</td>
                    <td>finaldy81@gmail.com</td>
                    <td>admin</td>
                    <td>2014-08-26 10:56:14</td>

                </tr>
                <tr>
                    <td>수정[UPDATE]</td>
                    <td>10003</td>
                    <td>20130809 00:20</td>
                    <td>23:59</td>
                    <td>30</td>
                    <td>3600</td>
                    <td>1</td>
                    <td>finaldy81@gmail.com</td>
                    <td>admin</td>
                    <td>2014-08-26 10:56:14</td>

                </tr>
                <tr>
                    <td>수정[UPDATE]</td>
                    <td>10003</td>
                    <td>20130809 00:20</td>
                    <td>23:59</td>
                    <td>30</td>
                    <td>3600</td>
                    <td>1</td>
                    <td>finaldy81@gmail.com</td>
                    <td>admin</td>
                    <td>2014-08-26 10:56:14</td>

                </tr>
                <tr>
                    <td>수정[UPDATE]</td>
                    <td>10003</td>
                    <td>20130809 00:20</td>
                    <td>23:59</td>
                    <td>30</td>
                    <td>3600</td>
                    <td>1</td>
                    <td>finaldy81@gmail.com</td>
                    <td>admin</td>
                    <td>2014-08-26 10:56:14</td>

                </tr>
                <tr>
                    <td>수정[UPDATE]</td>
                    <td>10003</td>
                    <td>20130809 00:20</td>
                    <td>23:59</td>
                    <td>30</td>
                    <td>3600</td>
                    <td>1</td>
                    <td>finaldy81@gmail.com</td>
                    <td>admin</td>
                    <td>2014-08-26 10:56:14</td>

                </tr>
                <tr>
                    <td>수정[UPDATE]</td>
                    <td>10003</td>
                    <td>20130809 00:20</td>
                    <td>23:59</td>
                    <td>30</td>
                    <td>3600</td>
                    <td>1</td>
                    <td>finaldy81@gmail.com</td>
                    <td>admin</td>
                    <td>2014-08-26 10:56:14</td>

                </tr>
                <tr>
                    <td>수정[UPDATE]</td>
                    <td>10003</td>
                    <td>20130809 00:20</td>
                    <td>23:59</td>
                    <td>30</td>
                    <td>3600</td>
                    <td>1</td>
                    <td>finaldy81@gmail.com</td>
                    <td>admin</td>
                    <td>2014-08-26 10:56:14</td>

                </tr>

                </tbody>
            </table>
            </div>
        </div>
        <div>


            <ul class="list-unstyled list-inline pagenation-height text-center list-page">
                <li>
                    <!-- ng-class="{disabled: currentPage < 10}" -->
                    <a href="" ng-click="prev10Page()">
                        <span class="glyphicon glyphicon-backward"></span>
                    </a>
                </li>
                <li ng-class="{disabled: currentPage == 0}">
                    <a href="" ng-click="prevPage()">
                        <span class="glyphicon glyphicon-chevron-left"> 1 2 3 4 5 6</span>
                    </a>

                </li>
                <li ng-repeat="n in range(currentPage-2, currentPage+3)"
                    ng-class="{active: n == currentPage}"
                    ng-click="setPage()">
                    <a href="" ng-bind="n + 1"></a>
                </li>
                <li ng-class="{disabled: (getPageMax() == 0 || currentPage == getPageMax() - 1)}">
                    <a href="" ng-click="nextPage()">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </li>
                <li>
                    <!-- ng-class="{disabled: (getPageMax() == 0 || currentPage > getPageMax() - 11)}" -->
                    <a href="" ng-click="next10Page()">
                        <span class="glyphicon glyphicon-forward"></span>
                    </a>
                </li>
            </ul>
        </div>
        </div>
    </div>
    <!-- contents ▲ -->
</div>