<link rel="stylesheet" href="styles/layout/contents.css">

<div ng-controller="userManageCtrl" class="contents-layout">

    <!-- title ▼ -->
    <div class="title-option">
        　　　주기적 측정
    </div>
    <!-- title ▲ -->

    <!-- contents ▼ -->
    <div class="contents-background">
        <div class="list-header-option ">송신 PROBE 연결 상태</div>
        <!-- search ▼ -->
        <table class="table tb-list remove-margin contents-center">
            <thead>
            <tr>
                <th class="list-header-option text-left" style="padding: 15px 0">
                    　　B.B.B.B : 송신 PROBE 등록불가 B.B : 송신 PROBE 등록가능
                </th>
            </tr>
            </thead>
        </table>
        <!-- search ▲ -->


        <!-- icon info ▼ -->
        <div class="row clearfix contents-center" style="margin-top: 15px;">
            <table class="table tb-list remove-margin text-center">
                <thead>
                <tr>
                    <th rowspan="2" class="list-header-option text-center">
                        선택
                    </th>
                    <th rowspan="2" class="list-header-option text-center">
                        이용기관명
                    </th>
                    <th rowspan="2" class="list-header-option text-center">
                        PROBE 명
                    </th>
                    <th rowspan="2" class="list-header-option text-center">
                        PROBE 전화번호
                    </th>
                    <th rowspan="2" class="list-header-option text-center">
                        연결 상태
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type="radio"></td>
                    <td>대림산업[수송동]</td>
                    <td>대림산업[수송동]</td>
                    <td>08998</td>
                    <td>B</td>
                </tr>
                </tbody>
            </table>
            <ul class="pagination">
                <li>
                    <a href="#">Prev</a>
                </li>
                <li>
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">Next</a>
                </li>
            </ul>
        </div>

        <!-- icon info ▲ -->

        <div class="row clearfix">

            <div class="list-header-option">수신 PROBE 목록
                <button type="button" class="btn btn-style" style="margin: 5px 5px;" ng-click="">추가
                </button>
                <button type="button" class="btn btn-style" ng-click="">삭제
                </button>
            </div>
        </div>

        <!-- list ▼ -->
        <link rel="stylesheet" href="styles/layout/contents.css">

        <div style="overflow-y: scroll;">
            <table class="table tb-list table-hover table-condensed table-bordered list-option text-center">
                <thead>
                <tr>
                    <th class="list-header-option">
                        전체선택<br>
                        <input type="checkbox">
                    </th>
                    <th class="list-header-option">
                        이용기관명
                    </th>
                    <th class="list-header-option">
                        PROBE 명
                    </th>
                    <th class="list-header-option">
                        PROBE 전화번호
                    </th>
                    <th class="list-header-option">
                        측정 상태
                    </th>
                </tr>
                </thead>
                <tbody class="text-center list-contents-option">
                <tr>
                    <td>
                        <input type="checkbox">
                    </td>
                    <td>
                        07822 (김포도시철도3공구현장)
                    </td>
                    <td>
                        07822 (김포도시철도3공구현장)
                    </td>
                    <td>
                        07822
                    </td>
                    <td>
                        측정 대기
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox">
                    </td>
                    <td>
                        07822 (김포도시철도3공구현장)
                    </td>
                    <td>
                        07822 (김포도시철도3공구현장)
                    </td>
                    <td>
                        07822
                    </td>
                    <td>
                        측정 대기
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox">
                    </td>
                    <td>
                        07822 (김포도시철도3공구현장)
                    </td>
                    <td>
                        07822 (김포도시철도3공구현장)
                    </td>
                    <td>
                        07822
                    </td>
                    <td>
                        측정 대기
                    </td>
                </tr>
                <!--<tr>&lt;!&ndash; ng-if="items.length == 0" &ndash;&gt;
        <td colspan="7">
            조회된 데이터가 없습니다.
        </td>
    </tr>-->    </tbody>
            </table>
            <!-- list ▲ -->
        </div>
        <div class="row clearfix list-header-option">
            <div class="pull-right"><a href="#/priodic/result"  class="btn btn-style">확인</a>
            </div>
        </div>
    </div>

    <!-- contents ▲ -->
</div>