<link rel="stylesheet" href="styles/layout/contents.css">

<div ng-controller="userManageCtrl" class="contents-layout">

    <!-- title ▼ -->
    <div class="title-option">
        　　　주기적 측정 - PROBE 정책 등록정보
    </div>
    <!-- title ▲ -->

    <!-- contents ▼ -->
    <div class="contents-background">

        <!-- search ▼ -->
        <div class="row clearfix contents-center" style="margin-top: 15px;">
            <div class="list-header-option ">송신 PROBE 정보</div>
            <table class="table tb-list remove-margin text-center">
                <thead>
                <tr>
                    <th rowspan="2" class="list-header-option text-center">
                        PROBE 전화번호
                    </th>
                    <th rowspan="2" class="list-header-option text-center">
                        PROBE 명
                    </th>
                    <th rowspan="2" class="list-header-option text-center">
                        이용기관명
                    </th>
                    <th rowspan="2" class="list-header-option text-center">
                        기관 담당자명
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>123456</td>
                    <td>대림산업[수송동]</td>
                    <td>대림산업[수송동]</td>
                    <td>담당자</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row clearfix contents-center" style="margin-top: 15px;">
            <div class="list-header-option ">수신 대상 PROBE 목록</div>
            <table class="table tb-list remove-margin text-center">
                <thead>
                <tr>
                    <th rowspan="2" class="list-header-option text-center">
                        PROBE 전화번호
                    </th>
                    <th rowspan="2" class="list-header-option text-center">
                        PROBE 명
                    </th>
                    <th rowspan="2" class="list-header-option text-center">
                        이용기관명
                    </th>
                    <th rowspan="2" class="list-header-option text-center">
                        기관 담당자명
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>123456</td>
                    <td>07822 (김포도시철도3공구현장)</td>
                    <td>07822 (김포도시철도3공구현장)</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>123456</td>
                    <td>07822 (김포도시철도3공구현장)</td>
                    <td>07822 (김포도시철도3공구현장)</td>
                    <td>-</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- search ▲ -->
<p></p>


        <!-- list ▼ -->
        <link rel="stylesheet" href="styles/layout/contents.css">

        <div>
            <div class="row clearfix">

                <div class="list-header-option ">품질측정 정책현황
                    <button type="button" class="btn btn-style" style="margin: 5px 5px;"
                            onclick="window.open('views/contents/052_S_2312_check.rule.plcy.list.html','_blank','width=800,height=900')">추가
                    </button>
                </div>
            </div>
            <table class="table tb-list table-hover table-condensed table-bordered list-option text-center">
                <thead>
                <tr>
                    <th class="list-header-option">
                        전체선택<br>
                        <input type="checkbox">
                    </th>
                    <th class="list-header-option">
                        정책ID
                    </th>
                    <th class="list-header-option">
                        정책 유형
                    </th>
                    <th class="list-header-option">
                        시작일~종료일<br>
                        (제외 요일)
                    </th>
                    <th class="list-header-option">
                        시작 시간<br>
                        (제외 시작시간)
                    </th>
                    <th class="list-header-option">
                        종료 시간<br>
                        (제외 시작시간)
                    </th>
                    <th class="list-header-option">
                        측정 주기<br>
                        (초)
                    </th>
                    <th class="list-header-option">
                        측정 횟수
                    </th>
                    <th class="list-header-option">
                        측정 통화시간<br>
                        (초)
                    </th>

                </tr>
                </thead>
                <tbody class="text-center list-contents-option">
                <tr>
                    <td>
                        <input type="checkbox">
                    </td>
                    <td>
                        07822
                    </td>
                    <td>
                        주기적측정
                    </td>
                    <td>
                        2014.08.27
                    </td>
                    <td>
                        00:00
                    </td>
                    <td>
                        23:59
                    </td>
                    <td>
                        3600
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        30
                    </td>
                </tr>
                </tbody>
            </table>

            <!-- list ▲ -->

        </div>
        <div class="row clearfix list-header-option">
            <div class="pull-right">
                <button type="button" class="btn btn-warning" ng-click="">취소
                </button>
                <button type="button" class="btn btn-warning" ng-click="">v 측정시작
                </button>
            </div>
        </div>
    </div>

    <!-- contents ▲ -->
</div>