<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title>GNTEL - 대림산업</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(app) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<body ng-app="gntelCqmsApp" ng-controller="MainCtrl">
<link rel="stylesheet" href="styles/layout/login.css">

<div class="login center-block">
        <div class="row login-header">
            <div class="pull-left">
                <img src="images/logo/gnt-logo.png">
            </div>
            <div class="pull-right">
                <h2>이용자 가입</h2>
            </div>
        </div>
    <table class="table table-bordered remove-margin">
        <tbody>
        <tr>
            <th class="list-header-option">이용자ID</th>
            <td class="list-contents-option"> <btn class="btn btn-default input-group-btn-custom">ID중복확인</btn></td>
        </tr>
        <tr>
            <th class="list-header-option">성명</th>
            <td class="list-contents-option"> </td>
        </tr>
        <tr>
            <th class="list-header-option">이용기관명</th>
            <td> </td>
        </tr>
        <tr>
            <th class="list-header-option">부서명</th>
            <td> </td>
        </tr>
        <tr>
            <th class="list-header-option">직위명</th>
            <td> </td>
        </tr>
        <tr>
            <th class="list-header-option">회사 전화번호</th>
            <td> </td>
        </tr>
        <tr>
            <th class="list-header-option">회사 FAX</th>
            <td> </td>
        </tr>
        <tr>
            <th class="list-header-option">핸드폰</th>
            <td> </td>
        </tr>
        <tr>
            <th class="list-header-option">E-mail</th>
            <td> </td>
        </tr>

        </tbody>
    </table>
</div>






<!-- build:js(app) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/services/code.services.js"></script>
<script src="scripts/services/user.manage.services.js"></script>
<script src="scripts/services/user.access.services.js"></script>
<script src="scripts/services/user.org.services.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/user.manage.controller.js"></script>
<script src="scripts/controllers/user.access.controller.js"></script>
<script src="scripts/controllers/user.org.controller.js"></script>
<!-- endbuild -->
</body>
</html>