<link rel="stylesheet" href="styles/layout/contents.css" xmlns="http://www.w3.org/1999/html">

<div class="contents-layout" ng-controller="">
    <!-- title ▼ -->
    <div class="title-option">
        　　　PROBE 이력
    </div>
    <!-- title ▲ -->

    <!-- contents ▼ -->
    <div class="contents-background contents-center" ng-controller="">

        <!-- search ▼ -->
        <div>
            <table class="table tb-list remove-margin contents-center">
                <tbody>
                <tr >
                    <th class="list-header-option">이용기관명</th>
                    <td colspan="4"><input type="text" ng-model="search.dutyname" maxlength="20" style="width: 100%;"></td>
                </tr>

                <tr>
                    <th class="list-header-option">PROBE 전화번호</th>
                    <td><input type="text" ng-model="search.memberid" style="width: 100%;"></td>

                    <th class="list-header-option">PROBE 이름</th>
                    <td><input type="text" ng-model="search.start" style="width: 100%;"></td>
                    <td class="list-header-option">
                        <button class="btn btn-option">검색</button>
                    </td>
                </tr>

                <tbody>

                </tbody>
            </table>
            <br>
            <button class="btn btn-st1 pull-right">엑셀변환</button>
            <br>
            <br>
        </div>
        <!-- search ▲ -->

        <!-- list ▼ -->
        <div style="overflow: auto;">
        <div style="margin-top:15px; z-index: 1025; width: 2000px;">
            <table class="table tb-list table-bordered list-option">
                <thead>
                <tr class="list-header-option">
                    <th>
                        <!-- <a href="" ng-click="toggleOrder('name')">
                             선택 {{orderbyDesc['dutyname']?'▼':'▲'}}
                         </a>-->
                        작업 내역
                    </th>
                    <th>
                        <!-- <a href="" ng-click="toggleOrder('id')">
                                정책ID {{orderbyDesc['memberid']?'▼':'▲'}}
                            </a>-->
                        전화번호
                    </th>
                    <th>
                        외부전화
                        호출번호
                    </th>
                    <th>
                        PROBE 명
                    </th>
                    <th>
                        이용기관명
                    </th>
                    <th>
                        담당자명
                    </th>

                    <th>
                        오디오샘플
                    </th>

                    <th>
                        코덱유형
                    </th>

                    <th>
                        미디어 암호화여부
                    </th>

                    <th>
                        시그널 암호화 여부
                    </th>

                    <th>
                        암호화 알고리즘
                    </th>
                    <th>
                        측정통화시간
                    </th>
                    <th>
                        로그 적재 ID
                    </th>
                    <th>
                        로그 적재 일시
                    </th>
                </tr>
                </thead>
                <tbody class="text-center list-contents-option">
                <tr>
                    <td>수정[UPDATE]</td>
                    <td>07822</td>
                    <td> </td>
                    <td>07822 (김포도시철도3공구현장)</td>
                    <td>07822 (김포도시철도3공구현장)</td>
                    <td> </td>
                    <td>Sample 1</td>
                    <td>G.711 PCMU</td>
                    <td>사용함</td>
                    <td>사용함</td>
                    <td>AES</td>
                    <td>30</td>
                    <td>admin</td>
                    <td>2014-08-26 10:56:14</td>
                </tr><tr>
                    <td>수정[UPDATE]</td>
                    <td>07822</td>
                    <td> </td>
                    <td>07822 (김포도시철도3공구현장)</td>
                    <td>07822 (김포도시철도3공구현장)</td>
                    <td> </td>
                    <td>Sample 1</td>
                    <td>G.711 PCMU</td>
                    <td>사용함</td>
                    <td>사용함</td>
                    <td>AES</td>
                    <td>30</td>
                    <td>admin</td>
                    <td>2014-08-26 10:56:14</td>
                </tr><tr>
                    <td>수정[UPDATE]</td>
                    <td>07822</td>
                    <td> </td>
                    <td>07822 (김포도시철도3공구현장)</td>
                    <td>07822 (김포도시철도3공구현장)</td>
                    <td> </td>
                    <td>Sample 1</td>
                    <td>G.711 PCMU</td>
                    <td>사용함</td>
                    <td>사용함</td>
                    <td>AES</td>
                    <td>30</td>
                    <td>admin</td>
                    <td>2014-08-26 10:56:14</td>
                </tr><tr>
                    <td>수정[UPDATE]</td>
                    <td>07822</td>
                    <td> </td>
                    <td>07822 (김포도시철도3공구현장)</td>
                    <td>07822 (김포도시철도3공구현장)</td>
                    <td> </td>
                    <td>Sample 1</td>
                    <td>G.711 PCMU</td>
                    <td>사용함</td>
                    <td>사용함</td>
                    <td>AES</td>
                    <td>30</td>
                    <td>admin</td>
                    <td>2014-08-26 10:56:14</td>
                </tr><tr>
                    <td>수정[UPDATE]</td>
                    <td>07822</td>
                    <td> </td>
                    <td>07822 (김포도시철도3공구현장)</td>
                    <td>07822 (김포도시철도3공구현장)</td>
                    <td> </td>
                    <td>Sample 1</td>
                    <td>G.711 PCMU</td>
                    <td>사용함</td>
                    <td>사용함</td>
                    <td>AES</td>
                    <td>30</td>
                    <td>admin</td>
                    <td>2014-08-26 10:56:14</td>
                </tr>
                <tr>
                    <td>수정[UPDATE]</td>
                    <td>07822</td>
                    <td> </td>
                    <td>07822 (김포도시철도3공구현장)</td>
                    <td>07822 (김포도시철도3공구현장)</td>
                    <td> </td>
                    <td>Sample 1</td>
                    <td>G.711 PCMU</td>
                    <td>사용함</td>
                    <td>사용함</td>
                    <td>AES</td>
                    <td>30</td>
                    <td>admin</td>
                    <td>2014-08-26 10:56:14</td>
                </tr>
                <tr>
                    <td>수정[UPDATE]</td>
                    <td>07822</td>
                    <td> </td>
                    <td>07822 (김포도시철도3공구현장)</td>
                    <td>07822 (김포도시철도3공구현장)</td>
                    <td> </td>
                    <td>Sample 1</td>
                    <td>G.711 PCMU</td>
                    <td>사용함</td>
                    <td>사용함</td>
                    <td>AES</td>
                    <td>30</td>
                    <td>admin</td>
                    <td>2014-08-26 10:56:14</td>
                </tr><tr>
                    <td>수정[UPDATE]</td>
                    <td>07822</td>
                    <td> </td>
                    <td>07822 (김포도시철도3공구현장)</td>
                    <td>07822 (김포도시철도3공구현장)</td>
                    <td> </td>
                    <td>Sample 1</td>
                    <td>G.711 PCMU</td>
                    <td>사용함</td>
                    <td>사용함</td>
                    <td>AES</td>
                    <td>30</td>
                    <td>admin</td>
                    <td>2014-08-26 10:56:14</td>
                </tr><tr>
                    <td>수정[UPDATE]</td>
                    <td>07822</td>
                    <td> </td>
                    <td>07822 (김포도시철도3공구현장)</td>
                    <td>07822 (김포도시철도3공구현장)</td>
                    <td> </td>
                    <td>Sample 1</td>
                    <td>G.711 PCMU</td>
                    <td>사용함</td>
                    <td>사용함</td>
                    <td>AES</td>
                    <td>30</td>
                    <td>admin</td>
                    <td>2014-08-26 10:56:14</td>
                </tr><tr>
                    <td>수정[UPDATE]</td>
                    <td>07822</td>
                    <td> </td>
                    <td>07822 (김포도시철도3공구현장)</td>
                    <td>07822 (김포도시철도3공구현장)</td>
                    <td> </td>
                    <td>Sample 1</td>
                    <td>G.711 PCMU</td>
                    <td>사용함</td>
                    <td>사용함</td>
                    <td>AES</td>
                    <td>30</td>
                    <td>admin</td>
                    <td>2014-08-26 10:56:14</td>
                </tr><tr>
                    <td>수정[UPDATE]</td>
                    <td>07822</td>
                    <td> </td>
                    <td>07822 (김포도시철도3공구현장)</td>
                    <td>07822 (김포도시철도3공구현장)</td>
                    <td> </td>
                    <td>Sample 1</td>
                    <td>G.711 PCMU</td>
                    <td>사용함</td>
                    <td>사용함</td>
                    <td>AES</td>
                    <td>30</td>
                    <td>admin</td>
                    <td>2014-08-26 10:56:14</td>
                </tr>
                <tr>
                    <td>수정[UPDATE]</td>
                    <td>07822</td>
                    <td> </td>
                    <td>07822 (김포도시철도3공구현장)</td>
                    <td>07822 (김포도시철도3공구현장)</td>
                    <td> </td>
                    <td>Sample 1</td>
                    <td>G.711 PCMU</td>
                    <td>사용함</td>
                    <td>사용함</td>
                    <td>AES</td>
                    <td>30</td>
                    <td>admin</td>
                    <td>2014-08-26 10:56:14</td>
                </tr><tr>
                    <td>수정[UPDATE]</td>
                    <td>07822</td>
                    <td> </td>
                    <td>07822 (김포도시철도3공구현장)</td>
                    <td>07822 (김포도시철도3공구현장)</td>
                    <td> </td>
                    <td>Sample 1</td>
                    <td>G.711 PCMU</td>
                    <td>사용함</td>
                    <td>사용함</td>
                    <td>AES</td>
                    <td>30</td>
                    <td>admin</td>
                    <td>2014-08-26 10:56:14</td>
                </tr><tr>
                    <td>수정[UPDATE]</td>
                    <td>07822</td>
                    <td> </td>
                    <td>07822 (김포도시철도3공구현장)</td>
                    <td>07822 (김포도시철도3공구현장)</td>
                    <td> </td>
                    <td>Sample 1</td>
                    <td>G.711 PCMU</td>
                    <td>사용함</td>
                    <td>사용함</td>
                    <td>AES</td>
                    <td>30</td>
                    <td>admin</td>
                    <td>2014-08-26 10:56:14</td>
                </tr><tr>
                    <td>수정[UPDATE]</td>
                    <td>07822</td>
                    <td> </td>
                    <td>07822 (김포도시철도3공구현장)</td>
                    <td>07822 (김포도시철도3공구현장)</td>
                    <td> </td>
                    <td>Sample 1</td>
                    <td>G.711 PCMU</td>
                    <td>사용함</td>
                    <td>사용함</td>
                    <td>AES</td>
                    <td>30</td>
                    <td>admin</td>
                    <td>2014-08-26 10:56:14</td>
                </tr><tr>
                    <td>수정[UPDATE]</td>
                    <td>07822</td>
                    <td> </td>
                    <td>07822 (김포도시철도3공구현장)</td>
                    <td>07822 (김포도시철도3공구현장)</td>
                    <td> </td>
                    <td>Sample 1</td>
                    <td>G.711 PCMU</td>
                    <td>사용함</td>
                    <td>사용함</td>
                    <td>AES</td>
                    <td>30</td>
                    <td>admin</td>
                    <td>2014-08-26 10:56:14</td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
        <div>


            <ul class="list-unstyled list-inline pagenation-height text-center list-page">
                <li>
                    <!-- ng-class="{disabled: currentPage < 10}" -->
                    <a href="" ng-click="prev10Page()">
                        <span class="glyphicon glyphicon-backward"></span>
                    </a>
                </li>
                <li ng-class="{disabled: currentPage == 0}">
                    <a href="" ng-click="prevPage()">
                        <span class="glyphicon glyphicon-chevron-left"> 1 2 3 4 5 6</span>
                    </a>

                </li>
                <li ng-repeat="n in range(currentPage-2, currentPage+3)"
                    ng-class="{active: n == currentPage}"
                    ng-click="setPage()">
                    <a href="" ng-bind="n + 1"></a>
                </li>
                <li ng-class="{disabled: (getPageMax() == 0 || currentPage == getPageMax() - 1)}">
                    <a href="" ng-click="nextPage()">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </li>
                <li>
                    <!-- ng-class="{disabled: (getPageMax() == 0 || currentPage > getPageMax() - 11)}" -->
                    <a href="" ng-click="next10Page()">
                        <span class="glyphicon glyphicon-forward"></span>
                    </a>
                </li>
            </ul>
        </div>
        </div>
    </div>
    <!-- contents ▲ -->
</div>