<div class="contents-detail-area" style="text-align: left">
    <!-- sub title ▼ -->
    <div class="subtitle">
        <img src="images/icon/bullet01.png">
        　{{selectedItem? '수정':'추가'}}
    </div>
    <!-- sub title ▲ -->
    <div>
        <table class="table table-bordered remove-margin">
            <!-- :orgname, :useyn, :managertel, :managername -->
            <tbody>
            <tr>
                <th class="list-header-option text-center" style="padding: 15px">이용기관명</th>
                <td><input type="text" ng-model="inputData['value']" class="form-control"></td>
                <th class="list-header-option text-center" style="padding: 15px">사용여부</th>
                <td>
                    <select ng-model="inputData['useyn']" class="form-control">
                        <option value="Y">사용함</option>
                        <option value="N">사용안함</option>
                    </select>
                </td>
                <th rowspan="2" class="list-header-option text-center">
                    <button class="btn btn-style" ng-click="save()" style="margin: 25px auto">저장</button>
                </th>
            </tr>
            <tr>
                <th class="list-header-option text-center" style="padding: 15px">관리자명</th>
                <td><input type="text" ng-model="inputData['managername']" class="form-control"></td>
                <th class="list-header-option text-center" style="padding: 15px">관리자 연락처</th>
                <td><input type="text" ng-model="inputData['managertel']" class="form-control"></td>
            </tr>
            </tbody>
        </table>

    </div>
</div>