<div class="" ng-controller="userManageListCtrl">
    <div>
        <table class="table tb-list table-bordered list-option">
            <thead>
            <tr class="list-header-option">
                <th ng-init="popup1=false;btnTop=100">
                    이용기관명
                    <div class="input-group input-group-sm input-group-search" searchType="org">
                        <input type="text" class="form-control" ng-model="search.org">
                        <span class="input-group-btn">
                            <button class="btn btn-default input-group-btn-custom" type="button" ng-click="trySearch()" btnType="glyphicon">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                    <!--<button type="button" class="btn pull-right table-btn" ng-click="popup1 = !popup1; btnTop = this.offset().top + this.width + 10; console.log(btnTop);">검색</button>-->
                    <!--<div ng-if="popup1" class="popup" ng-style="{top:btnTop}">-->
                    <!--<input type="text" value="test">-->
                    <!--</div>-->
                </th>
                <th>
                    이용자명
                    <div class="input-group input-group-sm input-group-search" searchType="dutyname">
                        <input type="text" class="form-control" ng-model="search.dutyname">
                        <span class="input-group-btn">
                            <button class="btn btn-default input-group-btn-custom" type="button" ng-click="trySearch()" btnType="glyphicon">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </th>
                <th>
                    회원ID
                    <div class="input-group input-group-sm input-group-search" searchType="memberid">
                        <input type="text" class="form-control" ng-model="search.memberid">
                        <span class="input-group-btn">
                            <button class="btn btn-default input-group-btn-custom" type="button" ng-click="trySearch()" btnType="glyphicon">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </th>
                <th>
                    전화번호
                    <div class="input-group input-group-sm input-group-search" searchType="mobile">
                        <input type="text" class="form-control" ng-model="search.mobile" maxlength="4">
                        <span class="input-group-btn">
                            <button class="btn btn-default input-group-btn-custom" type="button" ng-click="trySearch()" btnType="glyphicon">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </th>
                <th>
                    가입날짜
                    <div class="input-group input-group-sm input-group-search" searchType="joindate">

                        <!-- calendar popup -->
                        <div ng-if="showCal" ng-include="'views/partials/sidebar/calendar.html'"
                             style="position: absolute; top: 24px; left: 100px;"></div>

                        <!-- search input -->
                        <input type="text" class="form-control" ng-model="search.joindate">

                        <!-- button -->
                        <span class="input-group-btn">
                            <button class="btn btn-default input-group-btn-custom"
                                    type="button" ng-click="showCal = !showCal;" btnType="glyphicon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </button>
                            <button class="btn btn-default input-group-btn-custom" type="button" ng-click="trySearch()" btnType="glyphicon">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </th>
                <th>
                    승인여부
                </th>
            </tr>
            </thead>
            <tbody class="text-center list-contents-option">
            <tr ng-repeat="item in filterItems = (items | filter:{'state':filterState}:(filterState==''?false:true) | orderBy:'dutyname':true)"
                ng-if="currentPage*itemsPerPage <= $index && $index < (currentPage+1)*itemsPerPage">
                <td>
                    <a href="" ng-click="process(item)">{{item['org']}}</a>
                </td>
                <td>
                    <a href="" ng-click="process(item)">{{item['dutyname']}}</a>
                </td>
                <td>
                    <a href="" ng-click="process(item)">{{item['memberid']}}</a>
                </td>
                <td>
                    <a href="" ng-click="process(item)">{{item['mobile']}}</a>
                </td>
                <td>
                    <a href="" ng-click="process(item)">{{item['joindate']}}</a>
                </td>
                <td>
                    <a href="" ng-click="process(item)">{{item['state']}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <ul class="list-unstyled list-inline pagenation-height text-center list-page">
            <li>
                <!-- ng-class="{disabled: currentPage < 10}" -->
                <a href="" ng-click="prev10Page()">
                    <span class="glyphicon glyphicon-backward"></span>
                </a>
            </li>
            <li ng-class="{disabled: currentPage == 0}">
                <a href="" ng-click="prevPage()">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </li>
            <li ng-repeat="n in range(currentPage-2, currentPage+3)"
                ng-class="{active: n == currentPage}"
                ng-click="setPage(n)">
                <a href="" ng-bind="n + 1"></a>
            </li>
            <li ng-class="{disabled: (pageMax == 0 || currentPage == pageMax - 1)}">
                <a href="" ng-click="nextPage()">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </li>
            <li>
                <!-- ng-class="{disabled: (pageMax == 0 || currentPage > pageMax - 11)}" -->
                <a href="" ng-click="next10Page()">
                    <span class="glyphicon glyphicon-forward"></span>
                </a>
            </li>
        </ul>
    </div>
</div>