<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title>품질기상도 - 기준값 설정</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(app) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/layout/contents.css">
    <!-- endbuild -->
</head>
<body>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->

<!-- Add your site or application content here -->
<!-- contents ▼ -->
<div class="contents-layout" ng-controller="" style="padding-right: 15px">

    <!-- title ▼ -->
    <div class="subtitle">
        　　　품질기상도 - 기준값 설정
    </div>
    <!-- title ▲ -->

    <!-- contents ▼ -->
    <table class="table tb-list table-bordered table-bordered list-option text-center" style="margin-top: 5px">
        <thead>
        <tr>
            <th class="list-header-option">
                기본값 명
            </th>
            <th class="list-header-option">
                기본값
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="list-contents-option">
                R값 [매우좋음] 기준
            </td>
            <td class="list-contents-option">
                <input type="text" style="margin:0" class="form-control">
            </td>
        </tr>
        <tr>
            <td class="list-contents-option">
                R값 [좋음] 기준
            </td>
            <td class="list-contents-option">
                <input type="text" style="margin:0" class="form-control">
            </td>
        </tr>
        <tr>
            <td class="list-contents-option">
                R값 [구름조금] 기준
            </td>
            <td class="list-contents-option">
                <input type="text" style="margin:0" class="form-control">
            </td>
        </tr>
        <tr>
            <td class="list-contents-option">
                R값 [흐림] 기준
            </td>
            <td class="list-contents-option">
                <input type="text" style="margin:0" class="form-control">
            </td>
        </tr>
        <tr>
            <td class="list-contents-option">
                MOS [매우좋음] 기준
            </td>
            <td class="list-contents-option">
                <input type="text" style="margin:0" class="form-control">
            </td>
        </tr>
        <tr>
            <td class="list-contents-option">
                MOS [좋음] 기준
            </td>
            <td class="list-contents-option">
                <input type="text" style="margin:0" class="form-control">
            </td>
        </tr>
        <tr>
            <td class="list-contents-option">
                MOS [구름조금] 기준
            </td>
            <td class="list-contents-option">
                <input type="text" style="margin:0" class="form-control">
            </td>
        </tr>
        <tr>
            <td class="list-contents-option">
                MOS [흐림] 기준
            </td>
            <td class="list-contents-option">
                <input type="text" style="margin:0" class="form-control">
            </td>
        </tr>
        <tr>
            <td class="list-contents-option">
                집계범위 시작시간(00시~23시)
            </td>
            <td class="list-contents-option">
                <input type="text" style="margin:0" class="form-control">
            </td>
        </tr>
        <tr>
            <td class="list-contents-option">
                집계범위 종료시간(00시~23시)
            </td>
            <td class="list-contents-option">
                <input type="text" style="margin:0" class="form-control">
            </td>
        </tr>
        </tbody>
    </table>
    <!-- contents ▲ -->

    <div class="text-center">
        <button class="btn btn-style" onclick="window.close();" style="margin-right: 30px">
            확인
        </button>

        <button class="btn btn-style" onclick="window.close();" style="margin-left: 30px">
            취소
        </button>
    </div>

</div>
<!-- contents ▲ -->

<!-- build:js(app) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<!-- endbuild -->
</body>
</html>
