<link rel="stylesheet" href="styles/layout/contents.css">

<div ng-controller="userManageCtrl" class="contents-layout">

    <!-- title ▼ -->
    <div class="title-option">
        　　　ON-DEMAND
    </div>
    <!-- title ▲ -->

    <!-- contents ▼ -->
    <div class="contents-background">

        <!-- search ▼ -->
        <table class="table tb-list remove-margin">
            <tbody>
            <tr>
                <th class="list-header-option text-center" style="padding: 15px 0">
                    안내
                </th>
            </tr>
            <tr>
                <td>
                    측정을 진행중입니다.<br>
                    측정이 완료되지 않았을 때 측정을 중지할 경우 측정 내용이 저장되지 않습니다.<br>
                    측정시간은 송신자 PROBE의 설정에 의해 측정되지만, 측정 진행 시간과 실제 측정(PROBE) 시간은 상이할 수 있습니다.<br>
                    　<br>
                    음성품질측정 결과와 실제 체감 품질은 다를 수 있습니다.<br>
                </td>
            </tr>
            </tbody>
        </table>
        <!-- search ▲ -->
        <p></p>
        <!-- icon info ▼ -->
        <table class="table tb-list remove-margin text-center">
            <tbody>
            <tr>
                <th class="list-header-option text-center" style="padding: 15px 0">
                    진행상태
                </th>
            </tr>
            <tr>
                <td>
                    측정 진행 중 입니다. 잠시만 기다려 주십시오.
                </td>
            </tr>
            <tr>
                <td>
                    <h2 style="color:red">3</h2>
                </td>
            </tr>
            </tbody>
        </table>
        <!-- icon info ▲ -->

        <p></p>
        <!-- icon info ▼ -->
        <table class="table tb-list remove-margin text-center">
            <tbody>
            <tr>
                <th class="list-header-option text-center" style="padding: 15px 0" colspan="4">
                    측정정보
                </th>
            </tr>
            <tr>
                <th>
                    측정 시작 일시
                </th>
                <td>
                    2014년 8월 11일 14시 38분 38초
                </td>
                <th>
                    측정 통화시간
                </th>
                <td>
                    30 초
                </td>
            </tr>
            <tr>
                <th>
                    측정 구간(송신지**수신지)
                </th>
                <td colspan="3">
                    대림산업[수송동](123456) ** 4324561 [김포도시철도3공구현장](123456)
                </td>
            </tr>
            <tr>
                <th>
                    측정자 이름
                </th>
                <td colspan="3">
                    운영자
                </td>
            </tr>
            </tbody>
        </table>
        <p></p>

        <div class="row clearfix">
            <div class="contents-center">
                <a href="#/demand/result" class="btn btn-style">중지</a>
            </div>
        </div>
    </div>

    <!-- contents ▲ -->
</div>