<link rel="stylesheet" href="styles/layout/contents.css">

<div ng-controller="userManageCtrl" class="contents-layout">

    <!-- title ▼ -->
    <div class="title-option">
        　　　이용자 정책 관리
    </div>
    <!-- title ▲ -->

    <!-- contents ▼ -->
    <div class="contents-background">

        <!-- sub title ▼ -->
        <div class="subtitle">
            <img src="images/icon/bullet01.png">
            　승인 정보
        </div>
        <!-- sub title ▲ -->

        <!-- list ▼ -->
        <div class="tabbable" id="tabs">
            <div class="pull-right">
                <button type="button" class="btn btn-style" ng-click="">엑셀 변환
                </button>
            </div>
            <ul class="nav nav-tabs">
                <li ng-repeat="state in statusList" ng-class="{active:tabPage==state.value}" ng-click="tab_click(state.value)">
                    <a href="" data-taggle="tab">{{state.value}}</a>
                </li>
                <li ng-class="{active:tabPage=='전체'}" ng-click="tab_click('전체')">
                    <a href="" data-taggle="tab">전체</a>
                </li>
            </ul>
            <div ng-include="'views/contents/052_S_3110_admin.user.list.html'"></div>
        </div>
        <!-- list ▲ -->

    </div>
    <!-- contents ▲ -->

    <div ng-if="selectedItem" ng-include="'views/contents/052_S_3120_admin.user.detail.html'"></div>
</div>