<link rel="stylesheet" href="../../../styles/layout/contents.css" xmlns="http://www.w3.org/1999/html">

<div class="contents-layout" ng-controller="">

    <!-- contents ▼ -->
    <div class="contents-background contents-center" ng-controller="">

        <!-- search ▼ -->
        <div>
            <table class="table tb-list remove-margin contents-center table-left">
                <tbody>
                <tr>
                    <td>기본 설정<a href="#/probe/setting" target="_blank">기본값</a></td>
                    <td colspan="3">
                    </td>
                </tr>
                <tr>
                    <th class="list-header-option">PROBE 전화번호</th>
                    <td colspan="3">
                        <input type="text">-
                        <input type="text">
                        <button class="btn-style">중복확인</button>
                    </td>

                </tr>
                <tr>
                    <th class="list-header-option">PROBE 외부전화 호출 번호</th>
                    <td colspan="3">
                        <input type="text">
                    </td>

                </tr>
                <tr>
                    <th class="list-header-option">PROBE 이름</th>
                    <td colspan="3">
                        <input type="text">
                    </td>

                </tr>
                <tr>
                    <th class="list-header-option">이용기관명</th>
                    <td colspan="3">
                        <select>
                            <option value=""  selected>기간선택</option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                        </select>
                    </td>

                </tr>
                <tr>
                    <th class="list-header-option">기관담당자명</th>
                    <td>
                        <input type="text">
                    </td>
                    <th class="list-header-option">기관담당자 전화번호</th>
                    <td>
                        <input type="text">
                    </td>

                </tr>

                <tr>
                    <td colspan="4">
                        *SIP 서비스 옵션
                    </td>

                </tr>
                <tr>
                    <th class="list-header-option">코덱유형설정</th>
                    <td colspan="3"></td>

                </tr>
                <tr>
                    <th class="list-header-option">오디오 샘플파일</th>
                    <td>
                        <select>
                            <option value=""  selected>유형 설정</option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                        </select>
                    </td>
                    <th class="list-header-option">암호화 알고리즘</th>
                    <td>
                        <select>
                            <option value=""  selected>Sample1</option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <th class="list-header-option">Media 암호화 사용여부</th>
                    <td>
                        <input type="text">
                    </td>
                    <th class="list-header-option">Signal 암호화 사용여부</th>
                    <td>
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <th class="list-header-option">통화측정시간(초)</th>
                    <td>
                        <input type="text">
                    </td>
                    <th class="list-header-option">PBX IP주소/도메인인</th>
                   <td>
                       <input type="text">
                   </td>
                </tr>
                </tbody>
            </table>

        </div>
        <!-- search ▲ -->
        <!-- contents ▲ -->
    </div>