<link rel="stylesheet" href="styles/layout/contents.css">

<div ng-controller="userManageCtrl" class="contents-layout">

    <!-- title ▼ -->
    <div class="title-option">
        　　　품질기상도
    </div>
    <!-- title ▲ -->

    <!-- contents ▼ -->
    <div class="contents-background">

        <!-- search ▼ -->
        <table class="table tb-list remove-margin contents-center">
            <tbody>
            <tr>
                <th class="list-header-option text-center" style="padding: 15px 0">
                    이용기관명
                </th>
                <td>
                    <select ng-options="" class="form-control">
                        <option value="all">전체선택</option>
                    </select>
                </td>
                <th class="list-header-option text-center" style="padding: 15px 0">
                    집계범위(시간대)
                </th>
                <td style="padding: 15px 0">
                    {{'00:00'}} ~ {{'23:00'}}
                </td>
            </tr>
            <tr>
                <th class="list-header-option text-center" style="padding: 15px 0">
                    기간별
                </th>
                <td colspan="3">
                    <div class="row clearfix remove-margin">
                        <div style="float:left;">
                            <input type="radio">일일　
                            <input type="radio">주간　
                            <input type="radio">월간　
                            <input type="radio">기간선택　
                        </div>
                        <div class="input-group input-group-sm input-group-search form-inline" searchType="joindate" style="float:left">
                            <!-- calendar popup -->
                            <div ng-if="showCal1" ng-include="'views/partials/sidebar/calendar.html'"
                                 style="position: absolute; top: 24px; left: 100px; z-index: 100"></div>

                            <!-- search input -->
                            <input type="text" class="form-control" ng-model="search.joindate">

                            <!-- button -->
                        <span class="input-group-btn">
                            <button class="btn btn-default input-group-btn-custom"
                                    type="button" ng-click="showCal1 = !showCal1;" btnType="glyphicon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </button>
                        </span>
                        </div>
                        <span style="float:left">　~　</span>
                        <div class="input-group input-group-sm input-group-search form-inline" searchType="joindate" style="float:left">
                            <!-- calendar popup -->
                            <div ng-if="showCal2" ng-include="'views/partials/sidebar/calendar.html'"
                                 style="position: absolute; top: 24px; left: 100px; z-index: 100"></div>

                            <!-- search input -->
                            <input type="text" class="form-control" ng-model="search.joindate">

                            <!-- button -->
                        <span class="input-group-btn">
                            <button class="btn btn-default input-group-btn-custom"
                                    type="button" ng-click="showCal2 = !showCal2;" btnType="glyphicon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </button>
                        </span>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <!-- search ▲ -->

        <!-- icon info ▼ -->
        <div class="row clearfix" style="margin-top: 10px;">
            <table class="table tb-list table-condensed remove-margin text-center">
                <tbody>
                <tr>
                    <th rowspan="2" class="list-header-option text-center">
                        <!-- grade1 -->
                        <img src="images/icon/weather/grade1.png" style="width:25px" alt="best"/>
                        <br/>
                        매우좋음
                    </th>
                    <td>{{'90'}}≤R값</td>
                    <th rowspan="2" class="list-header-option text-center">
                        <!-- grade2 -->
                        <img src="images/icon/weather/grade2.png" style="width:25px" alt="good"/>
                        <br/>
                        좋음
                    </th>
                    <td>{{'80'}}≤R값＜{{'90'}}</td>
                    <th rowspan="2" class="list-header-option text-center">
                        <!-- grade3 -->
                        <img src="images/icon/weather/grade3.png" style="width:25px" alt="soso"/>
                        <br/>
                        보통
                    </th>
                    <td>{{'70'}}≤R값＜{{'80'}}</td>
                    <th rowspan="2" class="list-header-option text-center">
                        <!-- grade4 -->
                        <img src="images/icon/weather/grade4.png" style="width:25px" alt="bad"/>
                        <br/>
                        나쁨
                    </th>
                    <td>{{'60'}}≤R값＜{{'70'}}</td>
                    <th rowspan="2" class="list-header-option text-center">
                        <!-- grade5 -->
                        <img src="images/icon/weather/grade5.png" style="width:25px" alt="worst"/>
                        <br/>
                        매우나쁨
                    </th>
                    <td>R값＜{{'60'}}</td>
                </tr>
                <tr>
                    <td>{{'4.34'}}≤MOS</td>
                    <td>{{'4.03'}}≤MOS＜{{'4.34'}}</td>
                    <td>{{'3.60'}}≤MOS＜{{'4.03'}}</td>
                    <td>{{'3.10'}}≤MOS＜{{'3.60'}}</td>
                    <td>MOS＜{{'3.10'}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- icon info ▲ -->

        <div class="row clearfix">
            <div class="pull-right">
                <button type="button" class="btn btn-style" style="margin: 10px;"
                        onclick="window.open('views/contents/052_S_2120_quality.weather.threshold.html'
                        , 'openRequest'
                        , 'width=500, height=670, toolbar=no, menubar=no, scrollbars=no, resizable=yes')">
                    기준 값 설정
                </button>
                <button type="button" class="btn btn-style"
                        onclick="window.open('views/contents/052_S_2130_info.r.value.threshold.html'
                        , 'openRequest'
                        , 'width=800, height=830, toolbar=no, menubar=no, scrollbars=no, resizable=yes')">
                    R등급 확인
                </button>
            </div>
        </div>

        <!-- list ▼ -->
        <div ng-include="'views/contents/052_S_2110_quality.weather.chart.list.html'"></div>
        <!-- list ▲ -->
    </div>

    <!-- contents ▲ -->
</div>