<div class="horizontal-layout menu-header menu-header-big">
    품<br/>
    질<br/>
    관<br/>
    리<br/>
    시<br/>
    스<br/>
    템
</div>
<ul class="list-unstyled horizontal-layout menu-list menu-item">
    <li class="list-header list-header-underline top-padding">
        <a href="#/quality/weather_chart">1. 품질 기상도</a>
    </li>
    <li class="list-header list-header-underline">
        <a href="">2. PROBE 관리</a>
    </li>
    <li class="list-item top-padding">
        <a href="#/probe/list">2.1 PROBE 등록 현황</a>
    </li>
    <li class="list-item">
        <a href="#/poly/list">2.2 PROBE 품질정책현황</a>
    </li>
    <li class="list-header list-header-underline">
        <a href="">3. 품질 측정</a>
    </li>
    <li class="list-item top-padding">
        <a href="">3.1 주기적 측정</a>
    </li>
    <li class="list-item">
        <a href="">3.2 On-Demand</a>
    </li>
    <li class="list-header list-header-underline">
        <a href="">4. 측정 현황</a>
    </li>
    <li class="list-header list-header-underline">
        <a href="">5. 측정 결과</a>
    </li>
    <li class="list-item top-padding">
        <a href="">5.1 On-Demand 결과</a>
    </li>
    <li class="list-item">
        <a href="">5.2 주기적 측정 결과</a>
    </li>
    <li class="list-item">
        <a href="">5.3 주기적 측정 결과 평균값</a>
    </li>
    <li class="list-header list-header-underline">
        <a href="">6. 로그 관리</a>
    </li>
    <li class="list-item top-padding">
        <a href="">6.1 PROBE 이력</a>
    </li>
    <li class="list-item">
        <a href="">6.2 품질정책 이력</a>
    </li>
</ul>