<div class="horizontal-layout menu-header menu-header-big">
    임<br/>
    계<br/>
    치<br/>
    관<br/>
    리<br/>
    시<br/>
    스<br/>
    템
</div>
<ul class="list-unstyled horizontal-layout menu-list menu-item">
    <li class="list-header list-header-underline top-padding" style="margin-top: 28px">
        <a href="#/happen">■ 임계치 발생 현황</a>
    </li>
    <li class="list-header list-header-underline top-padding" style="margin-top: 28px">
        <a href="#/process">■ 임계치 처리 현황</a>
    </li>
    <li class="list-header list-header-underline top-padding" style="margin-top: 28px">
        <a href="#/standard">■ 임계치 기준정보 관리</a>
    </li>
    <li class="list-header list-header-underline top-padding" style="margin-top: 28px">
        <a href="#/commnetl">■ 액션 코멘트 관리</a>
    </li>
    <li class="list-header list-header-underline top-padding" style="margin-top: 28px">
        <a href="#/reg">■ 이용자 등록 관리</a>
    </li>
    <li class="list-header list-header-underline top-padding" style="margin-top: 28px">
        <a href="#/manager">■ 이용기관 사용 시스템</a>
    </li>

</ul>