<link rel="stylesheet" href="styles/layout/header.css">

<div class="container">
    <div class="col-md-12 column header-config">
        <div class="row clearfix">
            <div class="col-md-3 column padding-logo">
                <a href="" ng-click="home()">
                    <!--<img src="http://placehold.it/150x50">-->
                    <!-- 127 * 39 -->
                    <img src="images/logo/gnt-logo.png">
                </a>
            </div>
            <div class="col-md-9 column">
                <ul class="list-unstyled list-inline pull-right padding-menu">
                    <li>
                        <a href="" ng-click="home()">HOME</a>
                    </li>
                    |
                    <li>
                        <a href="" ng-click="logout()">LOGOUT</a>
                    </li>
                    |
                    <li>
                        <a href="" ng-click="">이용자정보변경</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>