<link rel="stylesheet" href="../../styles/layout/side_menu.css">
<link rel="stylesheet" href="../../styles/layout/sidebar.css">
<!--
<link rel="stylesheet" href="styles/layout/side_menu.less">
<script src="scripts/less-1.3.3.min.js"> </script>
-->

<div class="row clearfix sidebar">
    <div class="col-md-12 column remove-padding box-shadow">

        <!-- user info -->
        <div class="row clearfix side-layout-option-top side-header-footer"
             ng-include="'views/partials/sidebar/052_S_0310_info.html'"></div>

        <!-- menu : quality -->
        <div class="row clearfix side-middle"
             ng-include="'views/partials/sidebar/052_S_0320_menu.quality.html'"></div>

        <!-- widget -->
        <div class="row clearfix side-header-footer side-layout-option-bottom"
             ng-include="'views/partials/sidebar/052_S_0340_widget.html'"></div>

    </div>
</div>