/*

//기본컨셉
//사이드 메뉴 색상
@side-top-color :#e3dddd;
@side-middle-color :#d6cccc;
@side-font-color : #222;

@side-menu-color: @side-middle-color;
@gradient-color:lighten(@side-middle-color,10%);

//테이블 색상

@th-color : #eee;   //th 색상
@th-bot-color : @blue;  // 밑줄 색상
@th-font:@grey;

//버튼  색상

@btn-bg-color: #47a447;
@btn-border-color: darken(#47a447,10%);

@sub-title:@blue;
@bg-title:@basic-bg;

*/
/*

//블루컨셉
//사이드 메뉴 색상

@side-top-color : @blue1;
@side-middle-color : @blue;
@side-font-color : #fff;

@side-menu-color: @blue1;
@gradient-color:@blue;


//테이블 색상

@th-color : @th-blue;   //th 색상
@th-bot-color : @blue;  // 밑줄 색상
@th-font:@grey;

//버튼  색상

@btn-bg-color: @blue1;
@btn-border-color: @blue;

@sub-title:@blue;
@bg-title:@blue-bg;
*/
/*
@side-top-color : @olive;
@side-middle-color : @olive1;
@side-font-color : #28171F;

@side-menu-color: @olive1;
@gradient-color:@olive;


//테이블 색상

@th-color : @olive-th;   //th 색상
@th-bot-color : @olive;  // 밑줄 색상
@th-font:@grey;


//버튼  색상

@btn-bg-color: @olive;
@btn-border-color: @olive1;

@sub-title:@olive;
@bg-title:@blue-bg;
*/
.default {
  box-shadow: 2px 2px 5px #62615f;
}
.btn-base {
    box-shadow: 2px 2px 5px #62615f;
    background: #e0e0e0;
    background-color: #e0e0e0 !important;
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr="#eb4646", endColorstr="#930f0f");
    background-image: -khtml-gradient(linear, left top, left bottom, #fafafa, to(#e0e0e0));
    background-image: -moz-linear-gradient(top, #fafafa, #e0e0e0);
    background-image: -ms-linear-gradient(top, #fafafa, #e0e0e0);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #e0e0e0));
    background-image: -webkit-linear-gradient(top, #fafafa, #e0e0e0);
    background-image: -o-linear-gradient(top, #fafafa, #e0e0e0);
    background-image: linear-gradient(#fafafa, #e0e0e0);
    border-color: #e0e0e0 #e0e0e0 #adadad;
    color: #6c6c6c !important;
    -webkit-font-smoothing: antialiased;
}
.btn-style {
  background-color: #941010 !important;
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr="#eb4646", endColorstr="#930f0f");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#eb4646), to(#930f0f));
  background-image: -moz-linear-gradient(top, #eb4646, #930f0f);
  background-image: -ms-linear-gradient(top, #eb4646, #930f0f);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eb4646), color-stop(100%, #930f0f));
  background-image: -webkit-linear-gradient(top, #eb4646, #930f0f);
  background-image: -o-linear-gradient(top, #eb4646, #930f0f);
  background-image: linear-gradient(#eb4646, #930f0f);
  border-color: #930f0f #930f0f #730c0c;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.46);
  -webkit-font-smoothing: antialiased;
  box-shadow: 2px 2px 5px #62615f;
}
.title-option {
  color: white;
  font-size: 150%;
  font-weight: 700;
  padding: 0.1em;
  padding-bottom: 0.8em;
  background-image: url("../../images/layout/title-bg.png");
  background-size: 100% 100%;
  z-index: 1000;
}
.btn-red {
  background-color: #941010 !important;
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr="#eb4646", endColorstr="#930f0f");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#eb4646), to(#930f0f));
  background-image: -moz-linear-gradient(top, #eb4646, #930f0f);
  background-image: -ms-linear-gradient(top, #eb4646, #930f0f);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eb4646), color-stop(100%, #930f0f));
  background-image: -webkit-linear-gradient(top, #eb4646, #930f0f);
  background-image: -o-linear-gradient(top, #eb4646, #930f0f);
  background-image: linear-gradient(#eb4646, #930f0f);
  border-color: #930f0f #930f0f #730c0c;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.46);
  -webkit-font-smoothing: antialiased;
}
.btn-write {
  background-color: #fa9999 !important;
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr="#104164164", endColorstr="#f99999");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#104164 164), to(#f99999));
  background-image: -moz-linear-gradient(top, #104164 164, #f99999);
  background-image: -ms-linear-gradient(top, #104164 164, #f99999);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #104164 164), color-stop(100%, #f99999));
  background-image: -webkit-linear-gradient(top, #104164 164, #f99999);
  background-image: -o-linear-gradient(top, #104164 164, #f99999);
  background-image: linear-gradient(#104164 164, #f99999);
  border-color: #f99999 #f99999 #f76666;
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.69);
  -webkit-font-smoothing: antialiased;
}
.pills > li {
  float: left;
}
.pills > li + li {
  margin-left: 2px;
}
.pills > li.active > a,
.pills > li.active > a:hover,
.pills > li.active > a:focus {
  padding: 6px 12px;
  background-color: #981414;
}
div > .contents {
  font-size: 12px;
}
.contents .btn {
  font-size: 100%;
}
div > .contents-center {
  text-align: center;
}
.contents-layout {
  margin: 0 auto;
  margin-top: 18px;
  margin-left: 15px;
  padding: 0 5px;
}
.contents-background {
  margin: 10px;
  margin-top: -7px;
  padding: 10px;
  background-color: white;
  z-index: 0;
  -webkit-box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 3px 3px 1px 0 rgba(0, 0, 0, 0.25);
}
.title-base {
  color: white;
  font-size: 150%;
  font-weight: 700;
  padding: 0.1em;
  padding-bottom: 0.8em;
  background-image: url("../../images/layout/title-bg.png");
  background-size: 100% 100%;
  z-index: 1000;
}
.title-blue {
  color: white;
  font-size: 150%;
  font-weight: 700;
  padding: 0.1em;
  padding-bottom: 0.8em;
  background-image: url("../../images/layout/title-bg.png");
  background-size: 100% 100%;
  z-index: 1000;
  padding-left: 60% !important;
}
.subtitle {
  padding: 2px;
  padding-left: 20px;
  margin-bottom: 10px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  background-color: #8a0e0e;
  border-radius: 7px;
  width: 290px;
  height: 26px;
}
.subtitle-detail {
  margin-left: 8px;
  margin-top: 8px;
}
table {
  width: 100%;
  border: solid 1px #999999;
  display: table;
}
table > thead {
  text-align: center;
}
table > thead > tr > th,
table > tbody > tr > td {
  display: table-cell;
  vertical-align: middle;
}
.table-left tr td {
  text-align: left;
}
.table-btn {
  margin: 0;
  padding: 3px;
  color: black;
  font-size: 70%;
}
.input-group-search {
  margin: 0 auto;
}
.input-group-search[searchType="org"] {
  width: 180px;
}
.input-group-search[searchType="dutyname"] {
  width: 100px;
}
.input-group-search[searchType="memberid"] {
  width: 100px;
}
.input-group-search[searchType="mobile"] {
  width: 80px;
}
.input-group-search[searchType="joindate"] {
  width: 140px;
}
.input-group .btn {
  /*font-size:100%로 하면 안먹힘;;;*/

  font-size: 12px;
}
.input-group .input-group-btn-custom[btnType="glyphicon"] {
  padding: 0 3px;
}
.input-group-search > input.form-control,
.input-group-sm > input.form-control {
  padding: 3px;
}
.list-option {
  border: solid 1px #999;
  margin-bottom: 10px;
}
.list-option > thead > tr > th,
.list-option > tbody > tr > td {
  height: 26px;
  vertical-align: middle;
  border: solid 1px #999;
}
.list-option > thead > tr > th {
  text-align: center;
  line-height: 25px;
  border-bottom: solid 2px #6a1111;
  position: relative;
}
.list-option > thead > tr > th > div.popup {
  position: absolute;
  border: double;
  top: 10px;
  left: 10px;
  z-index: 10;
  background-color: white;
}
.list-option > thead > tr > th > a {
  color: orange;
}
.list-option > thead > tr > th > a:hover {
  text-decoration: none !important;
}
.list-header-option {
  color: #ffffff;
  background-color: #9a9a9a;
}
.list-contents-option {
  color: black;
  background-color: #ebebeb;
}
.list-contents-active {
  background-color: #cbc6c6;
}
.list-contents-option > tr > td > a {
  color: black;
}
.list-contents-option > tr > td > a:hover {
  text-decoration: none !important;
}
.list-page {
  font-size: 14px;
}
.list-page > li > a {
  color: #4c4c4c;
}
.list-page > li > a:hover {
  text-decoration: none !important;
}
.list-page > li.active > a {
  color: orange;
  font-weight: 700;
}
.list-page > li.disabled > a {
  color: #999;
  cursor: not-allowed;
}
.contents-detail-area {
  border: solid 1px black;
  margin: 5px;
  padding: 3px;
}
.center-detail {
  padding: 0;
}
.pn {
  border: solid 1px #6c6c6c;
  background-color: #f1ecec;
  padding: 5px;
  margin: 5px;
}
.pn-head {
  padding-left: 50px;
}
.pn-head-text {
  padding: 6px;
}
.pn-head-btn {
  margin: 0;
  padding: 0;
  margin-left: 50px;
}
.pn-sub1 {
  width: 540px;
  height: 100%;
}
.pn-sub2 {
  width: 254px;
  height: 353px;
  padding: 145px 20px;
}
.btn-option {
  border: solid 1px black;
  width: 80px;
  height: 27px;
  padding: 3px;
  font-size: 100%;
  font-weight: 700;
  background-color: lightgray;
}
.btn-option > span.active {
  color: #c7050b;
}
.btn-option-bt-rg {
  margin-top: 305px;
  padding-top: 15px;
  padding-right: 8px;
}
.btn-st1 {
  color: white;
  background-color: #981414;
  border: 5px outset #6b0e0e;
  border: 1px solid #3e0808;
}
.btn-st1:hover {
  color: white;
  border: 5px inset #6b0e0e;
}
.btn-st1:hover {
  color: white;
  background: #6b0e0e;
  border: 1px solid #6b0e0e;
}
.pagenation-remove-margin {
  margin: 0;
}
.pagenation-height > li > a {
  width: 26px;
  height: 26px;
  padding: 3px;
}

.glyphicon-arrow-up {
    color:red;
}
.glyphicon-arrow-down {
    color:blue;
}


/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
