/*test*/
/*test*/
/*//기본컨셉
//사이드 메뉴 색상
@side-top-color :#e3dddd;
@side-middle-color :#d6cccc;
@side-font-color : #222;

@side-menu-color: @side-middle-color;
@gradient-color:lighten(@side-middle-color,10%);

//테이블 색상

@th-color : #eee;   //th 색상
@th-bot-color : @blue;  // 밑줄 색상
@th-font:@grey;

//버튼  색상

@btn-bg-color: #47a447;
@btn-border-color: darken(#47a447,10%);

@sub-title:@blue;
@bg-title:@basic-bg;*/
/*//블루컨셉
//사이드 메뉴 색상

@side-top-color : @blue1;
@side-middle-color : @blue;
@side-font-color : #fff;

@side-menu-color: @blue1;
@gradient-color:@blue;
@title:

//테이블 색상

@th-color : @th-blue;   //th 색상
@th-bot-color : @blue;  // 밑줄 색상
@th-font:@grey;

//버튼  색상

@btn-bg-color: @blue1;
@btn-border-color: @blue;

@sub-title:@blue;*/
/*
//올리브
//사이드 메뉴 색상

@side-top-color : @olive;
@side-middle-color : @olive1;
@side-font-color : #28171F;

@side-menu-color: @olive1;
@gradient-color:@olive;


//테이블 색상

@th-color : @olive-th;   //th 색상
@th-bot-color : @olive;  // 밑줄 색상
@th-font:@grey;


//버튼  색상

@btn-bg-color: @olive;
@btn-border-color: @olive1;

@sub-title:@olive;
*/

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
